<!DOCTYPE html>
<div ng-controller="bankCodeManagementController">     <!-- binding bankCodeManagement-ctrl.js-->
    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-danger">
                <div class="widget-header">
                    <div class="row">
                        <div class="pull-left widget-title">
                            <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">Bank Code Management</span>
                        </div>
                        <div class="pull-right col-xs-6 col-sm-4"></div>
                        <div class="widget-tools pull-right">
                            <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
                                <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="widget-body" ng-class="classes" ng-show="widgetShow">
                    <!--loading-->
                    <rd-loading ng-show="isLoading"></rd-loading>

                    <div ng-hide="isLoading" class="widget-content">
                        <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
                            <div class="col-xs-12">
                                <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                            </div>
                        </div>
                      <hr />

                        <form class="form-horizontal">

                            <div class="row">

                                <!-- bankCodeManagementSearch.StateTreasuryCode -->
                                <label class="col-md-2 control-label text-left">State Treasury Code</label>
                                <div class="col-md-2 text-left control-group">
                                    <input type="text" class="form-control" ng-model="bankCodeManagementSearch.StateTreasuryCode" style="width:100%" />
                                </div>

                                <!-- bankCodeManagementSearch.BankCode1 -->
                                <label class="col-md-2 control-label text-left">Bank Code</label>
                                <div class="col-md-2 text-left control-group">
                                    <input type="text" class="form-control" ng-model="bankCodeManagementSearch.BankCode1" style="width:100%" />
                                </div>

                                <!-- bankCodeManagementSearch.IntermedBankCode -->
                                <label class="col-md-2 control-label text-left">Intermed Bank Code</label>
                                <div class="col-md-2 text-left control-group">                
                                    <input type="text" class="form-control" ng-model="bankCodeManagementSearch.IntermedBankCode" style="width:100%" />
                                </div>

                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-default" ng-click="search()">
                                            <i class="glyphicon glyphicon-search"></i>
                                            <span>Search</span>
                                        </button>
                                        <button type="button" ng-show="isOfficer" class="btn btn-default" ng-click="clearForm()" style="margin-left:5px;">
                                            <i class="glyphicon"></i>
                                            <span>Clear</span>
                                        </button>
                                    </div>
                                
                                </div>

                            </div>
                        </form>
    
                        <hr/>
    
                        <!-- 3 buttons Insert, Update, Delete -->

                        <div class="form-group">
                            <div class="col-md-6">
                                <button type="button" ng-click="toggleModalAddForm()" class="btn btn-sm btn-default  m-t-5" title="Registration">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span></span>
                                </button>

                                <button type="button" ng-click="openModalEditForm()" class="btn btn-sm btn-default  m-l-5 m-t-5" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>                                    
                                    <span></span>
                                </button>

                                <button type="button" ng-click="openModalDelete()" class="btn btn-sm btn-default  m-l-5 m-t-5" title="Delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span></span>
                                </button>
                            </div>
                        </div>


                        <!-- Search Result List -->
                        <div id="SearchResultList" style="display:block">
                            <table id="data-table" datatable="" dt-options="dtNewOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover" width="100%" style="table-layout:auto !important"></table>
                        </div>

                        <!-- 
                        <div id="SearchResultList" style="display:block">
                            <table id="data-table" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered nowrap table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>      <!-- primary key
                                        <th>State Treasury Code</th>
                                        <th>Bank Code</th>
                                        <th>Intermed Bank Code</th>
                                        <th>Bank Note Value</th>            
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="odd gradeA" ng-repeat="bk in lstBankCode">
                                        <td hidden>{{bk.ID}}</td> 
                                        <td>{{bk.StateTreasuryCode}}</td>
                                        <td>{{bk.BankCode1}}</td>
                                        <td>{{bk.IntermedBankCode}}</td> 
                                        <td>{{bk.BankNoteValue}}</td>                                                                                                                        
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        -->
                        <!-- End Search Result List -->


                        <div class="row form-group">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-default" ng-click="openModalImportFile()" ng-show="isApprover || isAdmin">
                                    <i class="glyphicon"></i>
                                    <span>Import</span>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="exportFile()" ng-show="isApprover || isAdmin">
                                    <i class="glyphicon"></i>
                                    <span>Export</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- #modal-dialog - Add New Records -->
    <div class="modal modal-message fade" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Bank Code Management: Add New</h4>
                </div>
                <form name="bankCodeManagementNewForm" class="form-horizontal">

                    <div class="modal-body">

                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 underline m-b-5">
                                <h5>Bank Code Management</h5>
                            </div>
                            <!-- begin col-12 -->
                            <div class="col-md-12">
                                <!-- Start Input Form -->
                            
                                <!-- ID -->
                                <input type="hidden" id="newFormID" name="ID" ng-model="bankCodeManagementNew.ID">

                                <!-- StateTreasuryCode -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (bankCodeManagementNewForm.StateTreasuryCode.$invalid || submitted) && (bankCodeManagementNewForm.StateTreasuryCode.$error.minlength ||bankCodeManagementNewForm.StateTreasuryCode.$error.maxlength ||bankCodeManagementNewForm.StateTreasuryCode.$error.required) }">
                                    <label class="col-md-4 control-label text-left"> <!--State Treasury Code <span class="text-danger">*</span>--></label>
                                    <div class="col-md-6">
                                        <input type="text" id="newFormStateTreasuryCodeValue" name="StateTreasuryCode" class="form-control" ng-model="bankCodeManagementNew.StateTreasuryCode" ng-minlength="1" ng-maxlength="50" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(bankCodeManagementNewForm.StateTreasuryCode.$dirty || submitted) && bankCodeManagementNewForm.StateTreasuryCode.$error.minlength" class="help-block">State Treasury Code is too short.</p>
                                        <p ng-show="(bankCodeManagementNewForm.StateTreasuryCode.$dirty || submitted) && bankCodeManagementNewForm.StateTreasuryCode.$error.maxlength" class="help-block">State Treasury Code is too long.</p>
                                        <p ng-show="(bankCodeManagementNewForm.StateTreasuryCode.$dirty || submitted) && bankCodeManagementNewForm.StateTreasuryCode.$error.required" class="help-block">State Treasury Code is required.</p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                                <!-- BankCode1 -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (bankCodeManagementNewForm.BankCode1.$invalid || submitted) && (bankCodeManagementNewForm.BankCode1.$error.minlength ||bankCodeManagementNewForm.BankCode1.$error.maxlength ||bankCodeManagementNewForm.BankCode1.$error.required) }">
                                    <label class="col-md-4 control-label text-left"> Bank Code <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="newFormBankCodeValue" name="BankCode1" class="form-control" ng-model="bankCodeManagementNew.BankCode1" ng-minlength="1" ng-maxlength="50" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(bankCodeManagementNewForm.BankCode1.$dirty || submitted) && bankCodeManagementNewForm.BankCode1.$error.minlength" class="help-block">Bank Code is too short.</p>
                                        <p ng-show="(bankCodeManagementNewForm.BankCode1.$dirty || submitted) && bankCodeManagementNewForm.BankCode1.$error.maxlength" class="help-block">Bank Code is too long.</p>
                                        <p ng-show="(bankCodeManagementNewForm.BankCode1.$dirty || submitted) && bankCodeManagementNewForm.BankCode1.$error.required" class="help-block">Bank Code is required.</p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>


                                <!-- IntermedBankCode -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (bankCodeManagementNewForm.IntermedBankCode.$invalid || submitted) && (bankCodeManagementNewForm.IntermedBankCode.$error.minlength ||bankCodeManagementNewForm.IntermedBankCode.$error.maxlength ||bankCodeManagementNewForm.IntermedBankCode.$error.required) }">
                                    <label class="col-md-4 control-label text-left"> Intermed Bank Code <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="newFormIntermedBankCode" name="IntermedBankCode" class="form-control" ng-model="bankCodeManagementNew.IntermedBankCode" ng-minlength="1" ng-maxlength="50" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(bankCodeManagementNewForm.IntermedBankCode.$dirty || submitted) && bankCodeManagementNewForm.IntermedBankCode.$error.minlength" class="help-block">Intermed Bank Code is too short.</p>
                                        <p ng-show="(bankCodeManagementNewForm.IntermedBankCode.$dirty || submitted) && bankCodeManagementNewForm.IntermedBankCode.$error.maxlength" class="help-block">Intermed Bank Code is too long.</p>
                                        <p ng-show="(bankCodeManagementNewForm.IntermedBankCode.$dirty || submitted) && bankCodeManagementNewForm.IntermedBankCode.$error.required" class="help-block">Intermed Bank Code is required.</p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                                <!-- BankNoteValue -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (bankCodeManagementNewForm.BankNoteValue.$invalid || submitted) && (bankCodeManagementNewForm.BankNoteValue.$error.minlength ||bankCodeManagementNewForm.BankNoteValue.$error.maxlength) }">
                                    <label class="col-md-4 control-label text-left"> Bank Note Value <span class="text-danger"></span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="newFormBankNoteValue" name="BankNoteValue" class="form-control" ng-model="bankCodeManagementNew.BankNoteValue" ng-minlength="1" ng-maxlength="500" ng-keypress="newKeyPress($event)">
                                        <p ng-show="(bankCodeManagementNewForm.BankNoteValue.$dirty || submitted) && bankCodeManagementNewForm.BankNoteValue.$error.minlength" class="help-block">Bank Note Value is too short.</p>
                                        <p ng-show="(bankCodeManagementNewForm.BankNoteValue.$dirty || submitted) && bankCodeManagementNewForm.BankNoteValue.$error.maxlength" class="help-block">Bank Note Value is too long.</p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                                <!-- CreatedBy -->
                                <input type="hidden" id="newFormCreatedBy" name="CreatedBy" ng-model="bankCodeManagementNew.CreatedBy">
                                
                                <!-- CreatedDate -->
                                <input type="hidden" id="newFormCreatedDate" name="CreatedDate" ng-model="bankCodeManagementNew.CreatedDate">
                                
                                <!-- UpdatedBy -->
                                <input type="hidden" id="newFormUpdatedBy" name="UpdatedBy" ng-model="bankCodeManagementNew.UpdatedBy">
                                
                                <!-- UpdatedDate -->
                                <input type="hidden" id="newFormUpdatedDate" name="UpdatedDate" ng-model="bankCodeManagementNew.UpdatedDate">
                                
                                <!-- End Input Form -->
                            </div>

                            <!-- end col-12 -->
                        </div>
                        <!-- end row -->

                    </div>
                    <div class="underline">
                    </div>
                    <div class="modal-footer">
                        <!--<label for="submit-form">-->
                        <!-- <button type="button" class="btn btn-default" ng-click="submitNewForm()" ng-disabled="buttonAddDisabled"> -->

                        <button type="button" class="btn btn-default" ng-click="submitNewForm()" ng-show="isOfficer"  ng-disabled="buttonAddDisabled">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Save</span>
                        </button>
                        <!--</label>-->
                        <a href="javascript:;" class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                    <div id="alertErrorMessageContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                        <strong>Error!</strong>
                        <span id="alertMessage"></span>
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- end <Add> #modal-dialog -->

    <!-- #modal-dialog - Edit -->
    <div class="modal modal-message fade" id="modal-edit">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Bank Code Management: Edit</h4>
                </div>
                <form name="bankCodeManagementEditFrom" novalidate class="form-horizontal">
                    <div class="modal-body">

                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 underline m-b-5">
                                <h5>Bank Code Management Information</h5>
                            </div>
                            <!-- begin col-12 -->
                            <div class="col-md-12">

                                <!-- Start Input Form -->
                                <!-- ID -->
                                <input type="hidden" id="editFormID" name="ID" ng-model="bankCodeManagementEdit.ID">
                                     


                                <!-- StateTreasuryCode -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (bankCodeManagementEditFrom.StateTreasuryCode.$invalid || submitted) && (bankCodeManagementEditFrom.StateTreasuryCode.$error.minlength ||bankCodeManagementEditFrom.StateTreasuryCode.$error.maxlength ||bankCodeManagementEditFrom.StateTreasuryCode.$error.required) }">
                                    <label class="col-md-4 control-label text-left"> State Treasury Code <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormStateTreasuryCodeValue" name="StateTreasuryCode" class="form-control" ng-model="bankCodeManagementEdit.StateTreasuryCode" ng-minlength="1" ng-maxlength="50" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(bankCodeManagementEditFrom.StateTreasuryCode.$dirty || submitted) && bankCodeManagementEditFrom.StateTreasuryCode.$error.minlength" class="help-block">State Treasury Code is too short.</p>
                                        <p ng-show="(bankCodeManagementEditFrom.StateTreasuryCode.$dirty || submitted) && bankCodeManagementEditFrom.StateTreasuryCode.$error.maxlength" class="help-block">State Treasury Code is too long.</p>
                                        <p ng-show="(bankCodeManagementEditFrom.StateTreasuryCode.$dirty || submitted) && bankCodeManagementEditFrom.StateTreasuryCode.$error.required" class="help-block">State Treasury Code is required.</p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                                <!-- BankCode1 -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (bankCodeManagementEditFrom.BankCode1.$invalid || submitted) && (bankCodeManagementEditFrom.BankCode1.$error.minlength ||bankCodeManagementEditFrom.BankCode1.$error.maxlength ||bankCodeManagementEditFrom.BankCode1.$error.required) }">
                                    <label class="col-md-4 control-label text-left"> Bank Code <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormBankCode1" name="BankCode1" class="form-control" ng-model="bankCodeManagementEdit.BankCode1" ng-minlength="1" ng-maxlength="50" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(bankCodeManagementEditFrom.BankCode1.$dirty || submitted) && bankCodeManagementEditFrom.BankCode1.$error.minlength" class="help-block">Bank Code is too short.</p>
                                        <p ng-show="(bankCodeManagementEditFrom.BankCode1.$dirty || submitted) && bankCodeManagementEditFrom.BankCode1.$error.maxlength" class="help-block">Bank Code is too long.</p>
                                        <p ng-show="(bankCodeManagementEditFrom.BankCode1.$dirty || submitted) && bankCodeManagementEditFrom.BankCode1.$error.required" class="help-block">Bank Code is required.</p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                                <!-- IntermedBankCode -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (bankCodeManagementEditFrom.IntermedBankCode.$invalid || submitted) && (bankCodeManagementEditFrom.IntermedBankCode.$error.minlength ||bankCodeManagementEditFrom.IntermedBankCode.$error.maxlength ||bankCodeManagementEditFrom.IntermedBankCode.$error.required) }">
                                    <label class="col-md-4 control-label text-left"> Intermed Bank Code <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormIntermedBankCode" name="IntermedBankCode" class="form-control" ng-model="bankCodeManagementEdit.IntermedBankCode" ng-minlength="1" ng-maxlength="50" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(bankCodeManagementEditFrom.IntermedBankCode.$dirty || submitted) && bankCodeManagementEditFrom.IntermedBankCode.$error.minlength" class="help-block">Intermed Bank Code is too short.</p>
                                        <p ng-show="(bankCodeManagementEditFrom.IntermedBankCode.$dirty || submitted) && bankCodeManagementEditFrom.IntermedBankCode.$error.maxlength" class="help-block">Intermed Bank Code is too long.</p>
                                        <p ng-show="(bankCodeManagementEditFrom.IntermedBankCode.$dirty || submitted) && bankCodeManagementEditFrom.IntermedBankCode.$error.required" class="help-block">Intermed Bank Code is required.</p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>


                                <!-- BankNoteValue -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (bankCodeManagementEditFrom.BankNoteValue.$invalid || submitted) && (bankCodeManagementEditFrom.BankNoteValue.$error.minlength ||bankCodeManagementEditFrom.BankNoteValue.$error.maxlength) }">
                                    <label class="col-md-4 control-label text-left"> Bank Note Value <span class="text-danger"></span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormBankNoteValueValue" name="BankNoteValue" class="form-control" ng-model="bankCodeManagementEdit.BankNoteValue" ng-minlength="1" ng-maxlength="500" ng-keypress="newKeyPress($event)">
                                        <p ng-show="(bankCodeManagementEditFrom.BankNoteValue.$dirty || submitted) && bankCodeManagementEditFrom.BankNoteValue.$error.minlength" class="help-block">Bank Note Value is too short.</p>
                                        <p ng-show="(bankCodeManagementEditFrom.BankNoteValue.$dirty || submitted) && bankCodeManagementEditFrom.BankNoteValue.$error.maxlength" class="help-block">Bank Note Value is too long.</p>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                                
                                <!-- CreatedBy -->
                                <input type="hidden" id="editFormCreatedBy" name="CreatedBy" ng-model="bankCodeManagementEdit.CreatedBy">
                                
                                <!-- CreatedDate -->
                                <input type="hidden" id="editFormCreatedDate" name="CreatedDate" ng-model="bankCodeManagementEdit.CreatedDate">
                                
                                <!-- UpdatedBy -->
                                <input type="hidden" id="editFormUpdatedBy" name="UpdatedBy" ng-model="bankCodeManagementEdit.UpdatedBy">
                                
                                <!-- UpdatedDate -->
                                <input type="hidden" id="editFormUpdatedDate" name="UpdatedDate" ng-model="bankCodeManagementEdit.UpdatedDate">
                                
                                <!-- End Input Form -->


                            </div>

                            <!-- end col-12 -->
                        </div>
                        <!-- end row -->


                    </div>
                    <div class="underline">
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="submitEditForm()" ng-show="isOfficer" ng-disabled="buttonEditDisabled" class="btn btn-default">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Save</span>
                        </button>
                        <a href="javascript:;" class="btn btn-default" ng-click="closeModalEditForm()">Close</a>
                    </div>
                    <div id="alertErrorMessageEditContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                        <strong>Error!</strong>
                        <span id="alertMessageEdit"></span>
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- end <Edit> #modal-dialog -->
    
    <!-- #modal-alert - Delete -->
    <div class="modal fade" id="modal-alert-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-heading m-b-0">
                        <h4><i class="fa fa-info-circle"></i> Confirm Deletion</h4>
                        <p>Are you sure you want to delete the selected Bank Code Management</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" ng-click="submitDeleteForm()" ng-disabled="buttonDeleteDisabled" ng-show="isOfficer" class="btn btn-sm btn-default">Ok</a>   <!-- isOfficer <=> isAdmin: Admin/Officer=true -->
                    <a href="javascript:;" class="btn btn-sm btn-default" ng-click="closeModalDelete()">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end <Delete> #modal-alert -->

    <!-- #modal-dialog - Import/Export File -->
    <div class="modal modal-message fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Bank Code Management: Import File</h4>
                </div>
                <form name="BankCodeManagementImportFile" class="form-horizontal">
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-md-3 control-label text-left">Choose files: <span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <div class="input-group  input-group-sm">
                                    <input type="text" id="fileName" ng-model="fileName" class="form-control" placeholder="Import File" aria-describedby="sizing-addon1" disabled>
                                    <span class="input-group-btn">
                                        <label for="file-upload" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" style="margin-right:5px"></span> Browse
                                        </label>
                                    </span>
                                </div>
                                <input id="file-upload" class="form-control" single type="file" ng-file-model="files"
                                       method="POST" enctype="multipart/form-data" encoding="multipart/form-data"
                                       accept=".xls, .xlsx" placeholder="Import File" aria-describedby="sizing-addon1">
                                
                                <p ng-repeat="file in files"> {{file.name}} </p>

                            </div>
                        </div>
                    </div>
                    <div class="underline">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="submitImportFile()">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Import</span>
                        </button>
                        <a href="javascript:;" class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                    <div id="alertErrorMessageContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                        <strong>Error!</strong>
                        <span id="alertMessage"></span>
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end <Import/Export> #modal-dialog -->
</div>
