<!DOCTYPE html>
<div ng-controller="newAccountStructureCrossRefController">     <!-- binding NewAccountStructureCrossRef-ctrl.js-->
    
    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-danger">
                <div class="widget-header">
                    <div class="row">
                        <div class="pull-left widget-title">
                            <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">New Account Structure Cross Ref</span>
                        </div>
                        <div class="pull-right col-xs-6 col-sm-4"></div>
                        <div class="widget-tools pull-right">
                            <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
                                <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
                            </button>
                        </div>
                    </div>
                </div>


                <div class="widget-body" ng-class="classes" ng-show="widgetShow">
                    <!--loading-->
                    <rd-loading ng-show="isLoading"></rd-loading>

                    <div ng-hide="isLoading" class="widget-content">
                        <div class="row alerts-container" data-ng-show="alerts.length">
                            <div class="col-xs-12">
                                <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                            </div>
                        </div>
                        
                        <!--[ID]
                        ,[OfficeCode]
                        ,[CCYCode]
                        ,[GLCode]
                        ,[SubGLCode]
                        ,[AccountNo]
                        ,[BookingOfficeCode]
                        ,[CurrencyCode]
                        ,[TransactionTypeCode]
                        ,[CustomerAccountNumber]
                        ,[CustomerCode]-->
                        
                        <!-- Search Result List -->

                        <div id="SearchResultList" style="display:block">
                            <table id="data-table" datatable="" dt-options="dtNewOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover" width="100%" style="table-layout:auto !important"></table>
                        </div>

                        <!--
                        <div id="SearchResultList" style="display:block">
                            <table id="data-table" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered nowrap table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th hidden>ID</th>      <!-- primary key
                                        <th>Office Code</th>
                                        <th>CCY Code</th>
                                        <th>GL Code</th>
                                        <th>Account No</th>
                                        <th>Booking Office</th>
                                        <th>Currency Code</th>
                                        <th>Transaction Type</th>
                                        <th>Customer Acc Num</th>
                                        <th>Customer Code</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="odd gradeA" ng-repeat="acc in lstNewAccountStructureCrossRef">
                                        <td hidden>{{acc.ID}}</td>
                                        <td>{{acc.OfficeCode}}</td>
                                        <td>{{acc.CCYCode}}</td>
                                        <td>{{acc.GLCode}}</td>
                                        <td>{{acc.AccountNo}}</td>
                                        <td>{{acc.BookingOfficeCode}}</td>
                                        <td>{{acc.CurrencyCode}}</td>
                                        <td>{{acc.TransactionTypeCode}}</td>
                                        <td>{{acc.CustomerAccountNumber}}</td>
                                        <td>{{acc.CustomerCode}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        -->
                        <!-- End Search Result List -->


                        <div class="row form-group">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-default" ng-click="openModalImportFile()" ng-show="isOfficer">
                                    <i class="glyphicon"></i>
                                    <span>Import</span>
                                </button>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- #modal-dialog - Import/Export File -->
    <div class="modal modal-message fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Import New Account Structure Cross Ref file</h4>
                </div>
                <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="importAlerts.length">
                    <div class="col-xs-12">
                        <uib-alert data-ng-repeat="alert in importAlerts" type="{{alert.type}}" close="closeImportAlert($index)">{{alert.msg}}</uib-alert>
                    </div>
                </div>
                <form name="BankCodeManagementImportFile" class="form-horizontal">
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-md-3 control-label text-left">Choose files: <span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <div class="input-group  input-group-sm">
                                    <input type="text" id="fileName" ng-model="fileName" class="form-control" placeholder="Import File" aria-describedby="sizing-addon1" disabled>
                                    <span class="input-group-btn">
                                        <label for="file-upload" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" style="margin-right:5px"></span> Browse
                                        </label>
                                    </span>
                                </div>
                                <input id="file-upload" class="form-control" single type="file" ng-file-model="files"
                                       method="POST" enctype="multipart/form-data" encoding="multipart/form-data"
                                       accept=".txt" placeholder="Import File" aria-describedby="sizing-addon1">

                                <p ng-repeat="file in files"> {{file.name}} </p>

                            </div>
                        </div>
                    </div>
                    <div class="underline">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="importFiles()" ng-show="isAdmin">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Import</span>
                        </button>
                        <a href="javascript:;" class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                    <div id="alertErrorMessageContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                        <strong>Error!</strong>
                        <span id="alertMessage"></span>
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end <Import/Export> #modal-dialog -->
</div>
