<!--
###############################################################################
# Detail  : Date picker directive page
# Author  : Sunny Kwan
# Date    : 22-Feb-2016
#
# Maintanence History
#=====+================+=============+=========================================
# SID | Name           | Date        | Reason
#=====+================+=============+=========================================
# SK1 | Sunny Kwan     | 22-Feb-2016 | BONE v1.0 initial release
###############################################################################
-->
<div class="input-group">
	<input type="text" class="form-control" uib-datepicker-popup="{{ bdFormat }}" ng-model="ngModel" is-open="isOpen" close-text="Close" ng-change="log()"/>
	<span class="input-group-btn"> 
    	<button type="button" class="btn btn-default" ng-click="openDatepicker($event)" uib-tooltip="{{ bdCalendar }}" tooltip-popup-delay="500"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>