<!--
###############################################################################
# Detail  : Widget header page
# Author  : Sunny Kwan
# Date    : 22-Feb-2016
#
# Maintanence History
#=====+================+=============+=========================================
# SID | Name           | Date        | Reason
#=====+================+=============+=========================================
# SK1 | Sunny Kwan     | 22-Feb-2016 | BONE v1.0 initial release
###############################################################################
-->
<div class="widget-header">
	<div class="row">
		<div class="pull-left widget-title">
			<i class="fa" ng-class="icon"></i> <span ng-bind="title"></span>
		</div>
		<div class="pull-right col-xs-6 col-sm-4" ng-transclude></div>
		<div class="widget-tools pull-right">
			<button type="button" class="btn btn-box-tool" ng-click='widgetShow = !widgetShow' ng-hide="requireWidgetShow">
				<i class="fa" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
			</button>
		</div>
	</div>
</div>
