<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <style>
                .wakaya-logo {
                    margin-top: -10px !important;
                }

                @media (max-width: 991px) {
                    .wakaya-logo {
                        margin-top: -16px !important;
                    }
                }
            </style>
            <a class="navbar-brand" href="/dashboard">

                <img src="/Scripts/spa_portal/assets/images/logo.png" />

            </a>

            <div class="dropdown-dash" style="display: block;"><div class="dropdown dropdown-hide"><button class="btn btn-default dropdown-toggle btn-drop" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="username" style="float:left">NGUYEN TRAN</span> <span style="float: right; margin-top: 9px;" class="caret"></span></button><ul class="dropdown-menu btn-down" aria-labelledby="dropdownMenu1"><li><a href="/account">Account</a></li></ul></div></div>
        </div>



        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true" style="">
            <ul class="nav navbar-nav navbar-right">
                <li id="navbar-dashboard" class="active"><a href="/dashboard">DASHBOARD</a></li>
                <li id="navbar-edit"><a class="currentNewLink" href="/editor">EDIT</a></li>
                <li id="navbar-leads"><a href="/leads">LEADS</a></li>
                <li id="navbar-resources"><a id="text-color" href="/resources"><span class="text-white">RESOURCES</span></a></li>
                <li id="navbar-affiliate"><a href="/affiliate" target="_blank">AFFILIATE</a></li>
                <li class="visible-sm visible-xs"><a href="/account">ACCOUNT</a></li>
                <li><a id="logoutButton" class="logout-button" href="/logout">LOGOUT</a></li>


            </ul>
        </div>

    </div>
</nav>