<div class="navbar-header">
    <!--<a href="/assets/views/partials/top-navbar.html#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" ng-click="toggle(&#39;sidebar&#39;)"> <i class="ti-align-justify"></i> </a>-->
    <a class="navbar-brand" ui-sref="app.home"> <img ng-src="{{app.layout.logo}}" alt="{{app.name}}"> </a>
    <a href="/assets/views/partials/top-navbar.html#" class="sidebar-toggler pull-right visible-md visible-lg ng-hide" ng-click="app.layout.isSidebarClosed = !app.layout.isSidebarClosed"> <i class="ti-align-justify"></i> </a>
    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed"> <span class="sr-only">Toggle navigation</span> <i class="ti-align-justify"></i> </a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
<div class="navbar-collapse collapse" uib-collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if="!navbarCollapsed" off-click-filter="#menu-toggler">
    <ul id="navbarFixedTop" class="nav navbar-right" ct-fullheight="window" data-ct-fullheight-exclusion="header" data-ct-fullheight-if="isSmallDevice">
        <!-- start: DASHBOARD -->
        <!-- /// controller:  'InboxCtrl' -  localtion: assets/js/controllers/InboxCtrl.js /// -->
        <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)" ng-controller="InboxCtrl">
            <a class="dropdown-toggle" ui-sref="app.home" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa fa-home"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.HOME">Trang chủ</span>
                    </div>
                </div>
            </a>
        </li>
        <!-- end: DASHBOARD -->
        <!-- start: EDITOR -->
        <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)" ng-if="userData.isUserLoggedIn">
            <a class="dropdown-toggle" ui-sref="app.editor2.solo.add" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.EDITOR">Trình Soạn Thảo</span>
                    </div>
                </div>
            </a>
        </li>
        <!-- end: EDITOR -->
        <!-- start: CUSTOMER -->
        <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)" ng-if="userData.isUserLoggedIn">
            <a href="#/customer" class="dropdown-toggle" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.CUSTOMER">Khách Hàng</span>
                    </div>
                </div>
            </a>
        </li>
        <!-- end: CUSTOMER -->
        <!-- start: REPLY -->
        <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)" ng-if="userData.isUserLoggedIn">
            <a href="#/reply" class="dropdown-toggle" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa fa-reply-all"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.REPLY">Trả Lời Nhanh</span>
                    </div>
                </div>
            </a>
        </li>
        <!-- end: REPLY -->
        <!-- start: NOTIFICATION -->
        <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)" ng-if="userData.isUserLoggedIn">
            <a href="#/notification" class="dropdown-toggle" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa fa-bell"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.NOTIFICATION">Thông báo</span>
                    </div>
                </div>
            </a>
        </li>
        <!-- end: NOTIFICATION -->
        <!-- start DOCUMENT -->
        <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)" ng-if="userData.isUserLoggedIn">
            <a href="#/document" class="dropdown-toggle" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa fa-volume-down"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.DOCUMENT">Tài Liệu</span>
                    </div>
                </div>
            </a>
        </li>
        <!-- end DOCUMENT -->
        <!-- start: Affiliate -->
        <li class="dropdown" uib-dropdown="" ng-if="userData.isUserLoggedIn">
            <a class="dropdown-toggle" ui-sref="app.affiliate" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.AFFILIATE">Affiliate</span>
                    </div>
                </div>
            </a>
        </li>
        <!-- end: Affiliate -->
        <!-- start: LANGUAGE SWITCHER -->
        <!-- start: USER OPTIONS DROPDOWN -->
        <li class="dropdown current-user" uib-dropdown="" on-toggle="toggled(open)" ng-if="userData.isUserLoggedIn">
            <a href="/assets/views/partials/top-navbar.html" class="dropdown-toggle" uib-dropdown-toggle="">
                <img ng-src="{{myavatar}}" alt="{{fullname}}">
            </a>
            <ul class="dropdown-menu dropdown-dark">
                <li>
                    <a ui-sref="app.profile" id="affiliateFullName" class="affiliateFullName"> <span class="text-bold">{{fullname}}</span> </a>
                </li>
                <li><a ui-sref="app.profile"> Tài khoản của tôi </a></li>
                <li><a ui-sref="login.signin" translate="topbar.user.LOGOUT" ng-click="logout();"> Đăng xuất </a></li>
            </ul>
        </li>
        <!-- end: USER OPTIONS DROPDOWN -->
        <!-- end: USER OPTIONS DROPDOWN -->
        <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)" ng-if="!userData.isUserLoggedIn">
            <a class="dropdown-toggle" ui-sref="app.aboutus" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa ti-pencil-alt"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.ABOUTUS">Giới Thiệu</span>
                    </div>
                </div>
            </a>
        </li>
        <!-- end: USER OPTIONS DROPDOWN -->
        <li class="dropdown" uib-dropdown="" on-toggle="toggled(open)" ng-if="!userData.isUserLoggedIn">
            <a class="dropdown-toggle" ui-sref="app.login.signin" uib-dropdown-toggle="">
                <div class="item-content">
                    <div class="item-icon">
                        <i class="fa fa-key"></i>
                    </div>
                    <div class="item-label">
                        <span class="title ng-scope" translate="topbar.nav.LOGIN">Login</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
    <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
    </div>
    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
</div>
<!-- end: NAVBAR COLLAPSE -->
<!-- start: TOP NAVBAR -->