<!DOCTYPE html>
<div ng-controller="reportController">
    <div class="row">
        <div class="widget-body col-md-12" ng-class="classes" ng-show="widgetShow">
            <rd-loading ng-show="isLoading"></rd-loading>
            <div ng-hide="isLoading" class="widget-content">
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-md-2 control-label text-left">Value Date:</label>
                            <div class="col-md-4">
                                <div class="input-group repair_group_btn">
                                    <input type="text" class="form-control"
                                           ng-model="CalendarInputDate" ng-click="openCalendar()"
                                           ng-change="dateChange()"
                                           uib-datepicker-popup="dd/MM/yyyy" is-open="popupCalendar.opened" close-text="Close"
                                           alt-input-formats="altInputFormats" />

                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-th" ng-click="openCalendar()"></span>
                                    </div>
                                </div>
                            </div>
                            <label class="col-md-2 control-label text-left">File type:</label>
                            <div class="col-md-4">
                                <select class="btn btn-default btn-select" ng-model="FileType" style="width:100%">
                                    <option value="All" ng-selected="selected"> All </option>
                                    <option value="GCP"> GCP </option>
                                    <option value="MT101"> MT101 </option>
                                </select>
                            </div>
                            
                        </div>

                        <div class="row">
                            <label class="col-md-2 control-label text-left"></label>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-default" ng-click="domesticRemittanceReport()" style="width:100%">
                                    <i class="glyphicon"></i>
                                    <span>Print Report</span>
                                </button>
                            </div>
                            <label class="col-md-1 control-label text-left"></label>
                            <div class="col-md-4">
                                
                            </div>
                            <label class="col-md-1 control-label text-left"></label>
                            <div class="col-md-4">
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
