<!DOCTYPE html>
<div ng-controller="reportController">
    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-danger">
                <div class="widget-header">
                    <div class="row">
                        <div class="pull-left widget-title">
                            <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">Report Management</span>
                        </div>
                        <div class="pull-right col-xs-6 col-sm-4"></div>
                        <div class="widget-tools pull-right">
                            <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
                                <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="widget-body col-md-12" ng-class="classes" ng-show="widgetShow">
                        <rd-loading ng-show="isLoading"></rd-loading>
                        <div ng-hide="isLoading" class="widget-content">
                            <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length" ng-hide="isHiddenSucceedMsgBox">
                                <div class="col-xs-12">
                                    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-md-3 list-group">
                                    <div class="list-group-item list-group-item-info">ViBa</div>
                                    <a ui-sref="report.transactionSummaryReport({ fileType: 'CTD'})" class="list-group-item">Transaction summary/detail report</a>
                                    <a href="javascript:void(0)" ng-click = "unprocessingFileReport({ fileType: 'CTD' })" class="list-group-item">Unprocessing file report</a>
                                    
                                    <div class="list-group-item list-group-item-info">VTB payroll</div>
                                    <a ui-sref="report.transactionSummaryReport({ fileType: 'VTB' })" class="list-group-item">Transaction summary/detail report</a>
                                    <a href="javascript:void(0)" ng-click="unprocessingFileReport({ fileType: 'VTB' })" class="list-group-item">Unprocessing file report</a>
                                    
                                    <div class="list-group-item list-group-item-info">Salary payment</div>
                                    <a ui-sref="report.transactionSummaryReport({ fileType: 'SLR' })" class="list-group-item">Transaction summary report</a>
                                    <a href="javascript:void(0)" ng-click="unprocessingFileReport({ fileType: 'SLR' })" class="list-group-item">Unprocessing file report</a>
                                    
                                    <div class="list-group-item list-group-item-info">Group payment</div>
                                    <a ui-sref="report.transactionSummaryReport({ fileType: 'GRP' })" class="list-group-item">Transaction summary report</a>
                                    <a href="javascript:void(0)" ng-click="unprocessingFileReport({ fileType: 'GRP' })" class="list-group-item">Unprocessing file report</a>
                                    
                                    <div class="list-group-item list-group-item-info">Excel importer</div>
                                    <a ui-sref="report.transactionSummaryReport({ fileType: 'EXL' })" class="list-group-item">Transaction Summary Report</a>
                                    <a href="javascript:void(0)" ng-click="unprocessingFileReport({ fileType: 'EXL'})" class="list-group-item">Unprocessing file report</a>
                                                                       
                                    <div class="list-group-item list-group-item-info">ETax</div>
                                    <a ui-sref="report.transactionSummaryReport({ fileType: 'TAX' })" class="list-group-item">Transaction Summary Report</a>
                                    <a href="javascript:void(0)" ng-click="unprocessingFileReport({ fileType: 'TAX' })" class="list-group-item">Unprocessing file report</a>

                                    <div class="list-group-item list-group-item-info">MT101 & GCP</div>
                                    <a ui-sref="report.domesticRemittanceReport({ fileType: 'MT101-GCP' })" class="list-group-item">List of Domestic Remittance Application(MT101+GCP)</a>
                                    <!--<a href="javascript:void(0)" ng-click = "domesticRemittanceReport({ fileType: 'MT101' })" class="list-group-item">List of Domestic Remittance Application(MT101+GCP)</a>-->

                                </div>
                                <div class ="col-md-9" id="report-content" ui-view="reportContent" autoscroll="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
