<!DOCTYPE html>
<div ng-controller="transactionController">

    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-danger">
                <div class="widget-header">
                    <div class="row">
                        <div class="pull-left widget-title">
                            <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">Transaction Management</span>
                        </div>
                        <div class="pull-right col-xs-6 col-sm-4"></div>
                        <div class="widget-tools pull-right">
                            <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
                                <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body" ng-class="classes" ng-show="widgetShow">
                    <rd-loading ng-show="isLoading"></rd-loading>
                    <div ng-hide="isLoading" class="widget-content">
                        <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
                            <div class="col-xs-12">
                                <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                            </div>
                        </div>
                        <form class="form-horizontal">

                            <div class="row">
                                <label class="col-md-2 control-label text-left">Account Number:</label>
                                <div class="col-md-4 text-left control-group">
                                    <input type="text" class="form-control" ng-model="searchAccountNumber" style="width:100%" />
                                </div>
                                <label class="col-md-2 control-label text-left">Amount:</label>
                                <div class="col-md-4 text-left control-group">
                                    <input type="number" class="form-control" ng-model="searchAmount" maxlength="13" style="width:100%" />
                                </div>
                            </div>

                            <div class="row">
                                <!--<label class="col-md-2 control-label text-left">Transaction Type:</label>
                                <div class="col-md-4 text-left control-group">
                                    <select class="btn btn-default btn-select" ng-model="searchTransactionType"
                                            ng-options="transactionType as transactionType for transactionType in transactionTypeList" style="width:100%">
                                        <option value="">-- Select Transaction Type --</option>
                                    </select>
                                </div>-->

                               
                                <label class="col-md-2 control-label text-left">Transaction Type:</label>
                                <div class="col-md-4 text-left control-group">
                                    <select class="btn btn-default btn-select" ng-model="searchTransactionType"
                                            ng-options="transactionType as transactionType for transactionType in transactionTypeList" style="width:100%">
                                        <option value="">-- Select Transaction Type --</option>
                                    </select>
                                </div>

                                <label class="col-md-2 control-label text-left">File Name:</label>
                                <div class="col-md-4 text-left control-group">
                                    <input type="text" class="form-control" ng-model="searchFileName" style="width:100%" />
                                </div>
                            </div>

                            <div class="row">
                                <!--<label class="col-md-2 control-label text-left">From Date:</label>
                                <div class="col-md-4">
                                    <div class="input-prepend control-group">
                                        <div class='input-group date datetimepicker'>
                                            <input type='text' class="form-control datetimepicker" id='searchFromDate' ng-model="searchFromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>-->
                                <label class="col-md-2 control-label text-left">From Date:</label>
                                <div class="col-md-4">
                                    <div class="input-prepend control-group">
                                        <div class='input-group date datetimepicker'>
                                            <input type='text' class="form-control" id='searchFromDate' ng-model="searchFromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <label class="col-md-2 control-label text-left">To Date:</label>
                                <div class="col-md-4">
                                    <div class="input-prepend control-group">
                                        <div class='input-group date datetimepicker'>
                                            <input type='text' class="form-control" id='searchToDate' ng-model="searchToDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                               

                            </div>

                            <div class="row">
                                <label class="col-md-2 control-label text-left"></label>
                                <div class="col-md-2 text-center">
                                    <button type="button" class="btn btn-default" ng-click="search()" style="width:100%">
                                        <i class="glyphicon"></i>
                                        <span>Search</span>
                                    </button>
                                </div>
                                <div class="col-md-2 text-center">
                                    <button type="button" class="btn btn-default" ng-click="clearForm()" style="width:100%">
                                        <i class="glyphicon"></i>
                                        <span>Clear</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <label class="col-md-3"><b>Total Transaction: </b>{{TotalTransaction}}</label>
                            <label class="col-md-3"><b>Imported: </b>{{Imported}}</label>
                            <label class="col-md-3"><b>Approved: </b>{{Approved}}</label>
                            <label class="col-md-3"><b>Rejected: </b>{{Rejected}}</label>
                        </div>
                        <div class="row">
                            <!--<label class="col-md-3"><b>ISOExported: </b>{{ISOExported}}</label>-->
                            <label class="col-md-3"><b>Exported: </b>{{Exported}}</label>
                            <label class="col-md-3"><b>Send To ARH Failed: </b>{{SendToARHFailed}}</label>
                            <label class="col-md-3"><b>Send To ARH Succeed: </b>{{SendToARHSucceed}}</label>
                        </div>
                        <!-- Search Result List -->
                        <div id="SearchResultList" style="display:block">
                            <table id="data-table" datatable="" dt-options="dtNewOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover" width="100%" style="table-layout:auto !important"></table>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-default" ng-click="summaryReport()" ng-disabled="isCheckDisable">
                                    <i class="glyphicon"></i>
                                    <span>Summary Report</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

