<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <!-- start: MAIN NAVIGATION MENU -->
    <ul class="main-navigation-menu">
        <li ui-sref-active="active">
            <a ui-sref="app.dashboard">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-home"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title" translate="sidebar.nav.dashboard.MAIN"> Dashboard </span>
                    </div>
                </div>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.member.list">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title" translate="sidebar.nav.members.MAIN"> Members </span>
                    </div>
                </div>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.order.list">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-gift"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title" translate="sidebar.nav.orders.MAIN"> Orders </span>
                    </div>
                </div>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.customer.list">
                <div class="item-content">
                    <div class="item-media">
                        <i class="fa fa-building-o"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title" translate="sidebar.nav.customers.MAIN"> Customers </span>
                    </div>
                </div>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.configuration">
                <div class="item-content">
                    <div class="item-media">
                        <i class="ti-settings"></i>
                    </div>
                    <div class="item-inner">
                        <span class="title" translate="sidebar.nav.configurations.MAIN"> Configuration </span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <!-- end: MAIN NAVIGATION MENU -->
</body>
</html>