@media (min-width: 992px) {
    .app-navbar-fixed {
        padding-top: 0px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 760px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1180px;
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 992px) {
    .main-content {
        margin-top: 65px;
        margin-left: 0px;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-collapse {
        margin-left: 0px;
        height: 110px !important;
    }
}
.navbar {
    position: relative !important;
}
@media (min-width: 992px) {
    .app-navbar-fixed .navbar .navbar-collapse, .app-navbar-fixed .navbar .navbar-header {
        position: relative !important;
        top: 0;
        left: 0;
        right: 0;
        -webkit-transform: translateZ(0);
    }
}
@media (min-width: 768px){
    .navbar-right {
        float: left !important;
        margin-right: -15px;
    }
}

.navbar .navbar-header {
    height: 110px;
}
@media (min-width: 768px) {
    .navbar .navbar-header {
        width: 205px;
    }
}
.navbar .navbar-header a {
    height: 110px;
    line-height: 110px;
}
.navbar .navbar-right > li > a {
    padding: 0px 10px;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 400;
}
.navbar .navbar-right > li > a, .item-content {
    height: 110px;
    line-height: 110px;
}
.item-content {
    align-items: center;
    display: table-row;
}
@media (min-width: 992px) {
    .app-aside div {
        -webkit-transform: translateZ(0);
    }
}
.item-content .item-media {
    display: table-cell;
    padding: 10px 15px 10px 15px;
}
ul.nav li a i[class*="ti-"] {
    margin-right: 5px;
    display: inline-block;
    font-size: 17px;
    position: relative;
    top: 2px;
}
.ti-home:before {
    content: "\e69b";
}
.item-content .item-icon {
    display: table-cell;
    padding: 0px 6px;
}
.item-content .item-text {
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #c8c7cc;
    display: table-cell;
    padding: 10px 15px 10px 0;
}
.pricing-3-options-section .charts {
    margin-top: 20px;
}
.pricing-3-options-section .charts .chart {
    background-color: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
    padding: 20px 40px;
    position: relative;
    text-align: center;
    width: 97%;
    min-height: 315px;
    position: relative;
    top: 20px;
}
.plan-name {
    font-size: 40px !important;
}
.pricing-3-options-section .charts .chart .plan-name {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #444;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}
.plan-desc {
    font-size: 18px;
}
.pricing-3-options-section .charts .chart .quantity {
    text-align: center;
    border-bottom: 1px solid #d5d5d5;
    margin-top: 10px;
}
.pricing-3-options-section .charts .chart .quantity .dollar {
    font-size: 19px;
    position: relative;
    top: -18px;
}
.pricing-3-options-section .charts .chart .quantity .price {
    font-size: 49px;
}
.pricing-3-options-section .charts .chart .quantity .period {
    font-size: 17px;
    position: relative;
    top: -8px;
    margin-left: 4px;
}
.annual-text {
    color: gray;
    display: none;
}
.button-orange {
    background-color: #03c1f4;
    padding: 10px 15px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid #00acd6;
    color: white !important;
    height: auto !important;
    font-weight: bold;
    text-decoration: none !important;
    width: 100%;
}
.pricing-3-options-section .charts .chart .btn-signup {
    margin-top: 20px;
    height: 38px;
}
.pricing-3-options-section .charts .chart .specs {
    margin-top: 20px;
}
.pricing-3-options-section .charts .chart .specs .spec {
    font-size: 15px;
    color: #474747;
    text-align: center;
    font-weight: 300;
    margin-bottom: 13px;
}
.button-orange2 {
    background-color: orange;
    padding: 10px 15px;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px solid darkorange;
    color: white !important;
    height: auto !important;
    font-weight: bold;
    text-decoration: none !important;
    width: 100%;
    font-size: 17px;
}
.pricing-3-options-section .charts .chart .quantity .price {
    font-size: 49px;
}

#app > footer {
    margin: 0px;
    position: relative;
}
.footer-section {
    padding: 48px 0;
    background-color: #212121;
    color: #757575;
    font-size: 1.15rem;
}
@media (min-width: 992px) {
    .footer-section {
        padding: 32px 0;
    }
}
.text-headline {
    font-size: 1.84rem;
    font-weight: 400;
    line-height: 2.46rem;
}
.text-light {
    color: #757575;
}
.footer-section ul > li {
    margin-bottom: 8px;
}
.btn-indigo-500 {
    color: #ffffff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}
.btn-circle.btn {
    padding: 0;
    width: 34px;
    height: 34px;
    line-height: 34px;
}
.btn-pink-500 {
    color: #ffffff;
    background-color: #e91e63;
    border-color: #e91e63;
}
.btn-blue-500 {
    color: #ffffff;
    background-color: #2196f3;
    border-color: #2196f3;
}
.pricing-3-options-section .charts .chart.featured .popular {
    position: absolute;
    top: 0px;
    left: 0px;
}
.pricing-3-options-section .charts .chart .specs .spec .variable {
    color: #1FBEE7;
    font-weight: 500;
}
.spec {
    text-align: left !important;
}
.pricing-3-options-section .message p {
    text-align: center;
    font-size: 13px;
    color: #656565;
    margin-top: 23px;
}
@media (min-width: 992px) {
    .pricing-3-options-section .charts .chart.featured {
        margin: 0 auto;
        top: 0px;
        min-height: 445px;
    }
}
.pricing-3-options-section .faq {
    margin-top: 40px;
}
.pricing-3-options-section .header {
    text-align: center;
}
.pricing-3-options-section .header h3 {
    font-size: 24px;
    color: #444;
    line-height: 25px;
    font-weight: 500;
}
.pricing-3-options-section .faq .header h3 {
    font-size: 20px;
    color: #454545;
    text-align: left;
}
.pricing-3-options-section .faq .questions {
    margin-top: 25px;
}
.pricing-3-options-section .faq .questions .question {
    margin-bottom: 40px;
}
@media (min-width: 992px) {
    .pricing-3-options-section .faq .questions .question {
        width: 90%;
    }
}
.pricing-3-options-section .faq .questions .question strong {
    font-weight: 500;
    font-size: 16px;
    color: #454545;
}
.pricing-3-options-section .faq .questions .question p {
    color: #555;
    margin-top: 10px;
    font-size: 13px;
    line-height: 22px;
}
.spinning-dots-spinner {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    position: relative;
}
.navbar {
    height: 110px;
}
.navbar .navbar-header .navbar-brand img {
    width: 80%;
}
.navbar .navbar-right > li.current-user > a {
    padding-top: 34px;
    padding-bottom: 20px;
}
@media (max-width: 991px) {
    .navbar .navbar-right > li > a, .item-content {
        height: 40px;
        line-height: 40px;
    }
    .navbar .navbar-right > li.current-user > a {
        padding-top: 0;
        padding-bottom: 0;
    }
}
#navbarFixedTop {
    height: auto !important;
}
.dropdown-menu.dropdown-dark {
    background-color: #06a2e3;
    border: 1px solid #06a2e3;
}
.dropdown-menu.dropdown-dark li p, .dropdown-menu.dropdown-dark li a, .dropdown-menu.dropdown-dark .drop-down-wrapper li p, .dropdown-menu.dropdown-dark .drop-down-wrapper li a {
    border-bottom-color: #06a2e3;
}
.dropdown-menu.dropdown-dark > li > a:hover, .dropdown-menu.dropdown-dark > li > a:focus, .dropdown-menu.dropdown-dark .dropdown-submenu:hover > a, .dropdown-menu.dropdown-dark .dropdown-submenu:focus > a, .dropdown-menu.dropdown-dark .drop-down-wrapper li a:hover, .dropdown-menu.dropdown-dark .drop-down-wrapper li a:focus {
    background-color: #2196f3;
}
.dropdown-menu.dropdown-dark:after {
    border-bottom-color: #06a2e3;
}
#affiliateFullName {
    border-bottom: 1px solid #c8c7cc;
}
#boxRegisterRefCode {
    background: #c8c7cc !important;
}
.input-group input, .input-group-button {
    display: table-cell;
}
.input-group-button {
    width: 1%;
    vertical-align: middle;
}
.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

/*SOLO PAGE*/
html {
    height: 100%;
}

#cp-cover {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.t-box {
    margin-top: 50px;
    border-radius: 3px;
    padding: 15px;
}

.t-text-1 {
    text-align: center;
    font-size: 36px;
    color: white;
    /*margin-top:100px;*/
    /*margin-bottom:30px;*/
    text-shadow: 1px 1px 15px rgba(0, 0, 0, .51);
}

.padding-top {
    margin-top: 250px;
}

@media only screen and (max-device-width: 480px) {
    .padding-top {
        margin-top: 50px;
    }
}

.t-privacy {
    text-align: center;
    color: #cccccc;
    font-size: 12px;
}

.t-text-2 {
    text-align: center;
    font-size: 22px;
    margin: 5px 0 10px 0;
    color: white;
    /*margin-top:60px;*/
}



.t-video {
    border: 5px solid red;
    border-radius: 3px;
    margin-top: 30px;
}

.t-btn {
    background-color: red;
    width: 100%;
    color: white !important;
    font-size: 24px;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 2px;
    border: none;
    white-space: initial;
}

    .t-btn:hover {
        background-color: blue;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    font-size: 28px;
    padding: 10px 0 5px 0;
}

.modal-footer {
    text-align: center;
}

.t-input {
    font-size: 20px;
    padding: 10px;
    height: initial;
    border-radius: 0px;
}

.field-border {
    border: 1px solid red;
    margin-top: 20px;
}

.t-footer {
    text-align: center;
    padding: 20px 0px;
    margin-top: 30px;
}

.footer-link {
    /*color:gray !important;*/
    color: #cccccc !important;
    font-size: 12px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 5px;
}
/*END SOLO PAGE*/
.highlight-funnel-name {
    color: #06a2e3;
}

.gray-funnel-name {
    color: #808080;
}
.tableRowCustom {
    background-color: #ffffff !important;
}
.tableColCustom {
    border-bottom: 0px !important;
}
.iconQuick {
    padding: 0px 5px;
}
/* ---------------------------------------------------------------------- */
/*  Top Navbar
/* ---------------------------------------------------------------------- */
.jumbotron {
    background-color: #2b3946;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    /*background: radial-gradient(#36414E, #253241);*/
}
.jumbotron h1, .jumbotron h1 p {
    font-size: 60px;
    color: #ffffff !important;
    font-weight: 400;
    line-height: 60px;
    text-shadow: 1px 1px black;
}
@media (min-width: 992px) {
    .jumbo-back {
        /*background: url(/Content/Resources/Images/d1.png?v=1) no-repeat bottom right;*/
    }
}
.jumbo-back .sub-text {
    font-weight: 400;
    color: white;
    font-style: normal !important;
}
.jumbo-back .media .media-left {
    vertical-align: bottom !important;
}
.jumbotron .cta {
    margin-top: 20px;
    margin-bottom: 20px;
}
.features-section {
    margin-top: 30px;
}
.cta-mobile-section {
    background: #F7F8FB;
    margin-top: 50px;
}
.cta-mobile-section .info {
    margin-top: 30px;
}
.cta-mobile-section .info h3 {
    font-weight: 400;
    color: #616974;
    font-size: 26px;
}
.container-fullw-custom {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-bottom: 0px !important;
}

@media (max-width: 768px) {
    .container-fullw-custom {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.download-links {
    background: #5E7A9B;
    background: radial-gradient(#36414E, #253241);
    padding: 60px 0px 30px 0px;
}
@media (min-width: 992px) {
    .navbar .navbar-right {
        position: relative;
        margin: 0px 15px 0 0;
    }
}