<!--
###############################################################################
# Detail  : Table header date search directive
# Author  : Sunny Kwan
# Date    : 22-Feb-2016
#
# Maintanence History
#=====+================+=============+=========================================
# SID | Name           | Date        | Reason
#=====+================+=============+=========================================
# SK1 | Sunny Kwan     | 22-Feb-2016 | BONE v1.0 initial release
###############################################################################
-->
<div class="input-group">
	<input id="{{ 'FW_st-date_input_' + id }}" type="text" class="form-control" uib-datepicker-popup="{{ dateFormat }}" ng-model="ngModel" ng-change="filterDate()" 
		is-open="stDateCtrl.isOpen" placeholder="{{ getI18n(appId, placeholder, null) }}" min-date="minDate" max-date="maxDate"
		current-text="{{ getI18n('FW', 'FWToday', null) }}" clear-text="{{ getI18n('FW', 'FWClear', null) }}" close-text="{{ getI18n('FW', 'FWClose', null) }}" />
	<span class="input-group-btn"> 
    	<button id="{{ 'FW_st-date_button_calendar_' + id }}" type="button" class="btn btn-default" ng-click="stDateCtrl.openDatepicker($event)">
    		<i class="glyphicon glyphicon-calendar"></i>
    	</button>
    </span>
</div>