<!--
###############################################################################
# Detail  : Table header select distinct search directive
# Author  : Sunny Kwan
# Date    : 22-Feb-2016
#
# Maintanence History
#=====+================+=============+=========================================
# SID | Name           | Date        | Reason
#=====+================+=============+=========================================
# SK1 | Sunny Kwan     | 22-Feb-2016 | BONE v1.0 initial release
###############################################################################
-->
<select id="{{ 'FW_st-select-distinct_select_' + id }}" class="form-control" ng-model="ngModel" ng-change="optionChanged()">
	<option ng-bind="getI18n('AAA', 'AAA_All', null)" value="_All" ng-selected="ngModel == '_All'"></option>
	<option ng-repeat="key in collection" ng-bind="getI18n(appId, key, null)" value="{{key}}"
		ng-selected="key == ngModel">
	</option>
</select>