<!--
###############################################################################
# Detail  : Table header text search directive
# Author  : Sunny Kwan
# Date    : 22-Feb-2016
#
# Maintanence History
#=====+================+=============+=========================================
# SID | Name           | Date        | Reason
#=====+================+=============+=========================================
# SK1 | Sunny Kwan     | 22-Feb-2016 | BONE v1.0 initial release
###############################################################################
-->
<input id="{{ 'FW_st-text-search_input_' + id }}" class="form-control" type="text" 
	ng-model="ngModel" ng-change="filterText()" placeholder="{{ getI18n(appId, placeholder, null) }}"/>