<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Quản Lý AutoResponder</h1>
        </div>
    </div>
</section>
    <!-- end: PAGE TITLE -->
    <!-- start: INLINE EDIT EXAMPLE -->
    <div class="container-fluid container-fullw">
        <div class="row" ng-controller="MasterAutoResponderCtrl">
            <div class="col-md-12">
                <!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableTitleTemplateListCtrl.js /// -->
                <div class="panel panel-white ng-scope" ng-controller="AutoResponderManagerCtrl">
                    <div class="panel-heading">
                        <p>
                            <button class="btn btn-primary" ng-click="addAutoResponder(0)">
                                Thêm Mới Chiến Dịch
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <table ng-table="tableParams" class="table table-striped">
                            <tbody>
                                <tr ng-repeat="document in $data">
                                    <td data-title="&#39;#&#39;"> {{$index + 1}}</td>
                                    <td data-title="&#39;API Key&#39;">{{document.APIKey}}</td>
                                    <td data-title="&#39;Tên Chiến Dịch&#39;" width="50%">{{document.CampaignName}}</td>
                                    <td class="center">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            <a ng-click="editAutoResponder($event)" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Cập Nhật" data="{{document.ID}}|{{document.APIKey}}|{{document.CampaignName}}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a ng-click="deleteAutoResponder($event)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Xóa" data="{{document.ID}}">
                                                <i class="fa fa-times fa fa-white"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <script type="text/ng-template" id="myModalAddEditAutoResponder.html">
                            <circle-spinner ng-show="showSpinner"></circle-spinner>
                            <form class="form-addnewlead-request" name="FormAddEditDocument" id="FormAddEditDocument" novalidate="" ng-submit="form.submit(FormAddEditDocument)">
                                <div class="modal-header">
                                    <span class="modal-title text-bold">{{documentHeading}}</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group" ng-class="{'has-error':FormAddEditDocument.APIKey.$dirty && FormAddEditDocument.APIKey.$invalid, 'has-success':FormAddEditDocument.APIKey.$valid}">
                                        <label for="APIKey">
                                            API Key <span class="symbol required"></span>
                                        </label>
                                        <input type="text" class="form-control" id="APIKey" name="APIKey" ng-model="entity.APIKey" placeholder="API Key" required="">
                                        <span class="error text-small block" ng-if="FormAddEditDocument.Title.$dirty && FormAddEditDocument.Title.$invalid">API Key là bắt buộc.</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':FormAddEditDocument.CampaignName.$dirty && FormAddEditDocument.CampaignName.$invalid, 'has-success':FormAddEditDocument.CampaignName.$valid}">
                                        <label for="CampaignName">
                                            Tên Chiến Dịch <span class="symbol required"></span>
                                        </label>
                                        <input type="text" class="form-control" id="CampaignName" name="CampaignName" ng-model="entity.CampaignName" placeholder="Tên Chiến Dịch" required="">
                                        <span class="error text-small block" ng-if="FormAddEditDocument.CampaignName.$dirty && FormAddEditDocument.CampaignName.$invalid">Tên Chiến Dịch là bắt buộc.</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Hoàn Tất
                                    </button>
                                </div>
                            </form>
                        </script>
                        <script type="text/ng-template" id="myModalDeleteAutoResponder.html">
                            <circle-spinner ng-show="showSpinner"></circle-spinner>
                            <div class="modal-header">
                                <span class="modal-title text-bold">Xóa Chiến Dịch</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="documentID" name="documentID" value="">
                                    <p>Bạn muốn xóa chiến dịch này không?</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">Đồng ý! Tôi muốn xóa</button>
                                <button class="btn btn-primary btn-o" ng-click="cancel()">Không!. Tôi muốn giữ lại</button>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: INLINE EDIT EXAMPLE -->
</body></html>