<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <div class="success-full-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 page-success animated shake">
                    <div class="success-number text-azure">
                        <img src="/Content/Resources/Images/payment-checkout-success.png" width="100" height="100" />
                    </div>
                    <div class="success-details col-sm-6 col-sm-offset-3">
                        <h3>Thanh Toán Thành Công</h3>
                        <p>
                            Cám ơn đã sử dụng dịch vụ của chúng tôi.
                            <br>
                            <a href="https://123chaching.app/" class="btn btn-red btn-return">
                                Trở về trang chủ
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: 404 -->
</body>
</html>