<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <div class="success-full-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 page-success animated shake">
                    <div class="success-number text-azure">
                        <img src="/Content/Resources/Images/error-transparent.png" width="100" height="100" />
                    </div>
                    <div class="success-details col-sm-6 col-sm-offset-3">
                        <h3>Thanh Toán KHÔNG thành công</h3>
                        <p>
                            Liên hệ hotline miễn phí 0356157676 hoặc gửi email tại <a ng-href="mailto:support@123chaching.app" target="_blank" class=""><i class=" ti-email"></i> support@123chaching.app</a>
                            <br>
                            <a href="https://123chaching.app/" class="btn btn-red btn-return">
                                Trở về trang chủ
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: 404 -->
</body>
</html>