<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <!-- end: PAGE TITLE -->
    <!-- start: TABS -->
    <!-- /// controller:  'TabsEditorCtrl' -  localtion: assets/js/controllers/documentCtrl.js /// -->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3 class="over-title margin-bottom-15"><span class="text-bold">Khóa Học Online</span></h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Kinh Doanh Online Đột Phá</h4>
                                </div>
                                <img src="/Content/Document/UserManual/3-kinh-doanh-online-dot-pha.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Kinh Doanh Online Đột Phá</h4>
                                </div>
                                <img src="/Content/Document/UserManual/3-kinh-doanh-online-dot-pha.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Kinh Doanh Online Đột Phá</h4>
                                </div>
                                <img src="/Content/Document/UserManual/3-kinh-doanh-online-dot-pha.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Kinh Doanh Online Đột Phá</h4>
                                </div>
                                <img src="/Content/Document/UserManual/3-kinh-doanh-online-dot-pha.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>