<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <!-- end: PAGE TITLE -->
    <!-- start: TABS -->
    <!-- /// controller:  'TabsEditorCtrl' -  localtion: assets/js/controllers/documentCtrl.js /// -->
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3 class="over-title margin-bottom-15"><span class="text-bold">Marketing Tổng Thể</span></h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Cách Tạo Một Phểu Bán Hàng</h4>
                                </div>
                                <img src="/Content/Document/UserManual/1.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Cách Tạo Một Phểu Bán Hàng</h4>
                                </div>
                                <img src="/Content/Document/UserManual/1.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Cách Tạo Một Phểu Bán Hàng</h4>
                                </div>
                                <img src="/Content/Document/UserManual/1.png" alt="">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>Cách Tạo Một Phểu Bán Hàng</h4>
                                </div>
                                <img src="/Content/Document/UserManual/1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3 class="over-title margin-bottom-15"><span class="text-bold">Tài Liệu Đính Kèm</span></h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img src="/Content/Document/UserManual/2.png" alt="" class="media-object">
                        </a>
                        <div class="media-body">
                            <div class="col-md-10">
                                <p>
                                    Facebook Funnel Marketing
                                </p>
                                <p>
                                    Facebook là một dịch vụ mạng xã hội trực tuyến miễn phí. Tên của nó xuất phát từ
                                </p>
                            </div>
                            <div class="col-md-2">
                                <h4 class="media-heading text-right">Xem Thêm</h4>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="media-left media-middle" href="#">
                            <img src="/Content/Document/UserManual/2.png" alt="" class="media-object">
                        </a>
                        <div class="media-body">
                            <div class="col-md-10">
                                <p>
                                    Facebook Funnel Marketing
                                </p>
                                <p>
                                    Facebook là một dịch vụ mạng xã hội trực tuyến miễn phí. Tên của nó xuất phát từ
                                </p>
                            </div>
                            <div class="col-md-2">
                                <h4 class="media-heading text-right">Xem Thêm</h4>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="media-left media-bottom" href="#">
                            <img src="/Content/Document/UserManual/2.png" alt="" class="media-object">
                        </a>
                        <div class="media-body">
                            <div class="col-md-10">
                                <p>
                                    Facebook Funnel Marketing
                                </p>
                                <p>
                                    Facebook là một dịch vụ mạng xã hội trực tuyến miễn phí. Tên của nó xuất phát từ
                                </p>
                            </div>
                            <div class="col-md-2">
                                <h4 class="media-heading text-right">Xem Thêm</h4>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="media-left media-bottom" href="#">
                            <img src="/Content/Document/UserManual/2.png" alt="" class="media-object">
                        </a>
                        <div class="media-body">
                            <div class="col-md-10">
                                <p>
                                    Facebook Funnel Marketing
                                </p>
                                <p>
                                    Facebook là một dịch vụ mạng xã hội trực tuyến miễn phí. Tên của nó xuất phát từ
                                </p>
                            </div>
                            <div class="col-md-2">
                                <h4 class="media-heading text-right">Xem Thêm</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>