<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <!-- end: PAGE TITLE -->
    <!-- start: TABS -->
    <!-- /// controller:  'DocumentMasterController' -  localtion: assets/js/controllers/documentCtrl.js /// -->
    <div>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="DocumentMasterController">
                        <circle-spinner ng-show="showSpinner"></circle-spinner>
                        <uib-tabset class="tabbable">
                            <uib-tab ng-repeat="tab in tabs" heading="{{tab.heading}}" active="tab.active" select="getDocumentContentByID(tab)">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12">
                                        <div class="panel panel-transparent">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <h3 class="over-title margin-bottom-15"><span class="text-bold">{{tab.heading}}</span></h3>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6" ng-repeat="document in documentContent">
                                                        <div class="thumbnail">
                                                            <div class="caption">
                                                                <h4>{{document.Title}}</h4>
                                                            </div>
                                                            <iframe ng-if="tab.type == '1'" width="424" height="238" ng-src="{{document.Link}}" frameborder="0" allowfullscreen></iframe>
                                                            <img ng-if="tab.type == '2'" src="{{document.ImagePath}}" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="tab.order == '1'">
                                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="panel panel-transparent">
                                            <div class="panel-heading">
                                                <div class="panel-title">
                                                    <h3 class="over-title margin-bottom-15"><span class="text-bold">Tài Liệu Đính Kèm</span></h3>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="media" ng-repeat="document in documentContentAttachments">
                                                    <a class="media-left" href="#">
                                                        <img src="{{document.ImagePath}}" alt="" class="media-object" style="width: 64px;">
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="col-md-10">
                                                            <p>
                                                                {{document.Title}}
                                                            </p>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <h4 class="media-heading text-right"><a ng-click="viewDocumentDetails(document.ID)">Xem Thêm</a></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script type="text/ng-template" id="myModalViewAttachedDocumentDetails.html">
                                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                                    <div class="modal-header">
                                        <span class="modal-title text-bold">Chi Tiết Tài Liệu Đính Kèm</span>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-white">
                                                    <div class="panel-body">
                                                        <p class="text-left">
                                                            <span class="text-bold text-uppercase">{{documentDetails.Title}}</span>
                                                        </p>
                                                        <p>
                                                            {{documentDetails.Content}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </script>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>