<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="topbar.nav.EDITOR">Tạo Trang</h1>
                <span class="mainDescription">Tạo Trang Và Quản Lý Trang</span>
            </div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: TABS -->
    <!-- /// controller:  'TabsEditorCtrl' -  localtion: assets/js/controllers/editorCtrl.js /// -->
    <!--///#/app/editor2/solo/edit/ID-->
    <div>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-12">
                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                    <div id="manageSoloPage" ng-controller="ngTableSoloPageListCtrl">
                        <table ng-table="tableParams" class="table table-striped">
                            <thead>
                            </thead>
                            <tbody>
                                <tr ng-repeat="myPage in $data" class="col-md-6 tableRowCustom">
                                    <td data-title="" class="tableColCustom">
                                        <div class="pageTile">
                                            <div class="thumbnail">
                                                <a ng-click="goToDestinationLink(myPage.Link, myPage.Status)">
                                                    <img id="ibcform" src="Content/Resources/Images/35013-quick9.png" alt="solo image" class="img-responsive">
                                                </a>
                                                <div class="pageTitle">
                                                    <span ng-if="myPage.Status == '2'">{{myPage.Link}}</span>
                                                    <div style="float:right">
                                                        <i class="fa fa-share shareQuick iconQuick" ng-click="shareSoloPageCode($event)" data-name="ibcform" data-id="{{myPage.ShareCode}}" data="{{myPage.ShareCode}}" style="color: rgb(76, 138, 23); cursor: pointer;margin-right:5px"></i>
                                                        <a ng-href="#/app/editor2/solo/edit/{{myPage.ID}}"><i class="fa fa-pencil iconQuick"></i></a>
                                                        <i class="fa fa-times fa fa-white deleteQuick iconQuick" ng-click="deleteSoloPage($event)" data-name="ibcform" data-id="{{myPage.ID}}" data="{{myPage.ID}}" style="color: rgba(165, 0, 0, 0.74); cursor: pointer;"></i>
                                                    </div>
                                                    <div class="text-left">
                                                        <span class="text-bold">{{myPage.PageName}}</span>
                                                    </div>
                                                    <script type="text/ng-template" id="myModalDeleteSoloPage.html">
                                                        <div class="modal-header">
                                                            <span class="modal-title text-bold">Xóa Solo Page</span>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <input type="hidden" class="form-control" id="soloPageID" name="soloPageID" value="">
                                                                <p>Bạn muốn xóa trang này không?</p>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-primary" ng-click="ok()">Đồng ý! Tôi muốn xóa</button>
                                                            <button class="btn btn-primary btn-o" ng-click="cancel()">Không!. Tôi muốn giữ lại</button>
                                                        </div>
                                                    </script>
                                                    <script type="text/ng-template" id="myModalGenerateSharedCode.html">
                                                        <div class="modal-header">
                                                            <span class="modal-title text-bold">Lấy Share Code</span>
                                                            <button type="button" id="myModalSoloPageShareCodeCloseButton" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="form-group">
                                                                <label for="affiliateUrl">
                                                                    Share Code
                                                                </label>
                                                                <input type="text" class="form-control" id="soloPageShareCode" name="soloPageShareCode" ng-model="editor.soloPageShareCode">
                                                            </div>
                                                            <div class="form-group">
                                                                <span class="input-group-button">
                                                                    <button class="btn btn-primary btn-block" type="button" ngclipboard="" ngclipboard-success="onSuccess(e);" ngclipboard-error="onError(e);" data-clipboard-target="#soloPageShareCode">
                                                                        Copy Share Code
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>