<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="topbar.nav.FUNNEL">Danh Sách Trang</h1>
                <span class="mainDescription">Tạo Funnel Trang Và Quản Lý Trang</span>
            </div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: TABS -->
    <!-- /// controller:  'TabsEditorCtrl' -  localtion: assets/js/controllers/funnelCtrl.js /// -->
    <div>
        <div class="container-fluid container-fullw bg-white">
            <div class="row" ng-controller="FunnelsAddEditCtrl">
                <div class="col-md-4">
                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                    <div class="panel panel-white no-radius">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title">Funnels</h4>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="padding-10">
                                <form action="#" class="ng-pristine ng-valid">
                                    <div class="input-group well">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-search"></i> Search
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel-body no-padding">
                            <div class="panel-scroll height-300" perfect-scrollbar="" wheel-propagation="false" suppress-scroll-x="true">
                                <table class="table no-margin">
                                    <tbody>
                                        <tr ng-repeat="funnel in funnels">
                                            <td><i class="ti-layers-alt"></i></td>
                                            <td>
                                                <h4>
                                                    <a ng-click="goToDestinationLink(funnel.Link, funnel.Status)" class="{{funnel.Status=='1' ? 'gray-funnel-name' : 'highlight-funnel-name' }}">{{funnel.PageName}}</a>
                                                </h4>
                                            </td>
                                            <td>
                                                <a href="#/app/editor2/funnels/edit/{{funnel.ID}}" class="ng-binding"><i class="fa fa-pencil deleteQuick"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                    <div class="panel panel-white no-radius">
                        <div class="panel-body">
                            <div class="has-error">
                                <span class="error text-small block ng-scope" ng-if="!isFunnelNameValid">Trang Funnel là bắt buộc</span>
                                <span class="error text-small block ng-scope" ng-if="!isSoloPageNameValid">Trang Solo là bắt buộc</span>
                            </div>
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="exampleInputName">Funnel</label>
                                    <input type="text" class="form-control" id="funnelTitle" ng-model="funnel.PageName" placeholder="Tên Trang Funnel">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputage">Solo</label>
                                    <select class="form-control black" ng-options="option as option.PageName for option in mySoloPages" ng-model="soloPage">
                                        <option value="" disabled="">Chọn Solo Page</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-primary" ng-click="addRow()"><i class="glyphicon glyphicon-plus"></i>&nbsp;Thêm Solo</button>
                                </div>
                            </form>
                            <div class="container" style="padding:10px 10px;">
                                <table class="table table-bordered" id="tbl_employees">
                                    <thead>
                                        <tr>
                                            <th>Số Thứ Tự</th>
                                            <th>Solo Page Name</th>
                                            <th>Nút Hành Động</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbl_posts_body">
                                        <tr ng-repeat="soloPage in soloPages">
                                            <td><label>{{$index + 1}}</label></td>
                                            <td>{{soloPage.PageName}}</td>
                                            <td><a class="btn btn-xs delete-record" ng-click="removeRow($index)"><i class="glyphicon glyphicon-trash"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-primary btn-block" ng-click="createFunnelPage(1)" ng-model="funnel.Status" ng-if="funnel.Status == '1'">
                                            <i class="fa fa-save" data-id="1" data="1"></i>
                                            Lưu và Xem Trước
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-primary btn-block" ng-click="createFunnelPage(2)" ng-model="funnel.Status" ng-if="funnel.Status == '1'">
                                            <i class="fa  fa-rocket" data-id="2" data="2"></i>
                                            Xuất Bản
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-primary btn-block" ng-click="createFunnelPage(2)" ng-model="funnel.Status" ng-if="funnel.Status == '2'">
                                            <i class="fa fa-save" data-id="1" data="1"></i>
                                            Lưu
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>