<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="topbar.nav.FUNNEL">Danh Sách Trang</h1>
                <span class="mainDescription">Tạo Funnel Trang Và Quản Lý Trang</span>
            </div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: TABS -->
    <!-- /// controller:  'TabsEditorCtrl' -  localtion: assets/js/controllers/funnelCtrl.js /// -->
    <div>
        <div class="container-fluid container-fullw bg-white">
            <div class="row">
                <div class="col-md-4" ng-controller="FunnelsManageCtrl">
                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                    <div class="panel panel-white no-radius">
                        <div class="panel-heading border-light">
                            <h4 class="panel-title">Funnels</h4>
                        </div>
                        <!--<div class="panel-body no-padding">
                            <div class="padding-10">
                                <form action="#" class="ng-pristine ng-valid">
                                    <div class="input-group well">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fa fa-search"></i> Search
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>-->
                        <div class="panel-body no-padding">
                            <div class="panel-scroll height-350" perfect-scrollbar="" wheel-propagation="false" suppress-scroll-x="true">
                                <table class="table no-margin">
                                    <thead>
                                        <tr></tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="funnel in funnels">
                                            <td><i class="ti-layers-alt"></i></td>
                                            <td>
                                                <h4>
                                                    <a ng-click="goToDestinationLink(funnel.Link, funnel.Status)" class="{{funnel.Status=='1' ? 'gray-funnel-name' : 'highlight-funnel-name' }}">{{funnel.PageName}}</a>
                                                </h4>
                                            </td>
                                            <td>
                                                <a href="#/app/editor2/funnels/edit/{{funnel.ID}}" class="ng-binding"><i class="fa fa-pencil deleteQuick"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" ng-controller="ngTableSoloPageListCtrl">
                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                    <div class="panel panel-white no-radius">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-sm-8">
                                    <input ng-model="search" class="form-control text-center ng-pristine ng-valid ng-touched" type="text" placeholder="Nhập landing page...">
                                </div>
                                <div class="col-sm-4">
                                    <a class="btn btn-wide btn-primary" ui-sref="app.editor2.funnels.add"><i class="fa fa-plus"></i> Tạo Landing Page Mới</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div>
                                <table ng-table="tableParams" class="table table-striped table-hover" id="sample-table-2">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="page in $data">
                                            <td class="center"><i class="ti-layers-alt"></i></td>
                                            <td>
                                                <h4>{{page.PageName}}</h4>
                                                <a href="{{page.Link}}" ng-if="page.Status == '2'" target="_blank">{{page.Link}}</a>
                                            </td>
                                            <td class="center">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Share"><i class="fa fa-share" ng-click="shareSoloPageCode($event)" data-id="{{page.ShareCode}}" data="{{page.ShareCode}}"></i></a>
                                                    <!--<a href="#" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" tooltip="Remove"><i class="fa fa-circle"></i></a>-->
                                                </div>
                                                <div class="visible-xs visible-sm hidden-md hidden-lg">
                                                    <div class="btn-group" dropdown="">
                                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                                            <li>
                                                                <a href="#">
                                                                    Share
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <script type="text/ng-template" id="myModalGenerateSharedCode.html">
                                                    <div class="modal-header">
                                                        <span class="modal-title text-bold">Lấy Share Code</span>
                                                        <button type="button" id="myModalSoloPageShareCodeCloseButton" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label for="affiliateUrl">
                                                                Share Code
                                                            </label>
                                                            <input type="text" class="form-control" id="soloPageShareCode" name="soloPageShareCode" ng-model="editor.soloPageShareCode">
                                                        </div>
                                                        <div class="form-group">
                                                            <span class="input-group-button">
                                                                <button class="btn btn-primary btn-block" type="button" ngclipboard="" ngclipboard-success="onSuccess(e);" ngclipboard-error="onError(e);" data-clipboard-target="#soloPageShareCode">
                                                                    Copy Share Code
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </script>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>