<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <section id="page-title">
        <div class="row">
            <div class="col-sm-8">
                <h1 class="mainTitle" translate="topbar.nav.LEAD">Khách Hàng</h1>
            </div>
            <div ncy-breadcrumb=""></div>
        </div>
    </section>
    <!-- end: PAGE TITLE -->
    <!-- start: TABS -->
    <!-- /// controller:  'TabsEditorCtrl' -  localtion: assets/js/controllers/funnelCtrl.js /// -->
    <div>
        <div class="container-fluid container-fullw bg-white">
            <div class="row" ng-controller="ngTableLeadListCtrl">
                <div class="col-md-3">
                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                    <div class="panel panel-white no-radius">
                        <div class="panel-heading border-light">
                            <h4><a class="btn btn-primary btn-block" ng-click="addNewLead()">Thêm Khách Hàng</a></h4>
                        </div>
                        <script type="text/ng-template" id="myModalAddNewLead.html">
                            <circle-spinner ng-show="showSpinner"></circle-spinner>
                            <form class="form-addnewlead-request" name="FormAddNewLead" id="FormAddNewLead" novalidate="" ng-submit="form.submit(FormAddNewLead)">
                                <div class="modal-header">
                                    <span class="modal-title text-bold">Thêm Khách Hàng</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group" ng-class="{'has-error':FormAddNewLead.Name.$dirty && FormAddNewLead.Name.$invalid, 'has-success':FormAddNewLead.Name.$valid}">
                                        <label for="leadName">
                                            Tên <span class="symbol required"></span>
                                        </label>
                                        <input type="text" class="form-control" id="leadName" name="Name" ng-model="lead.Name" placeholder="Tên" required="">
                                        <span class="error text-small block" ng-if="FormAddNewLead.Name.$dirty && FormAddNewLead.Name.$invalid">Tên là bắt buộc.</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':FormAddNewLead.Email.$dirty && FormAddNewLead.Email.$invalid, 'has-success':FormAddNewLead.Email.$valid}">
                                        <label for="leadEmail">
                                            Email <span class="symbol required"></span>
                                        </label>
                                        <input type="text" class="form-control" id="leadEmail" name="Email" ng-model="lead.Email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" placeholder="Địa chỉ email" required="">
                                        <span class="error text-small block" ng-if="FormAddNewLead.Email.$dirty && FormAddNewLead.Email.$invalid">Email là bắt buộc.</span>
                                        <span class="error text-small block" ng-if="FormAddNewLead.Email.$error.pattern">Vui lòng cung cấp một địa chỉ email hợp lệ.!</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':FormAddNewLead.Phone.$dirty && FormAddNewLead.Phone.$invalid, 'has-success':FormAddNewLead.Phone.$valid}">
                                        <label for="leadPhone">
                                            Số Điện Thoại <span class="symbol required"></span>
                                        </label>
                                        <input type="text" class="form-control" id="leadPhone" name="Phone" ng-model="lead.Phone" placeholder="Số Điện Thoại" ng-pattern="/^[0-9]*$/" required="">
                                        <span class="error text-small block" ng-if="FormAddNewLead.Phone.$dirty && FormAddNewLead.Phone.$invalid">Số Điện Thoại là bắt buộc và phải là số.</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':FormAddNewLead.LeadsType.$dirty && FormAddNewLead.LeadsType.$invalid, 'has-success':FormAddNewLead.LeadsType.$valid}">
                                        <label for="leadLeadsType">
                                            Phân Loại <span class="symbol required"></span>
                                        </label>
                                        <select id="leadLeadsType" class="form-control black" name="LeadsType" ng-model="lead.LeadsType" required="">
                                            <option value="" disabled="">Chọn Loại Khách Hàng</option>
                                            <option value="1">Nóng</option>
                                            <option value="2">Ấm</option>
                                            <option value="3">Lạnh</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="leadNotes">
                                            Ghi Chú
                                        </label>
                                        <input type="text" class="form-control" id="leadNotes" name="Notes" ng-model="lead.Notes" placeholder="Ghi Chú">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Hoàn Tất
                                    </button>
                                </div>
                            </form>
                        </script>
                        <div class="panel-body border-bottom">
                            <h4>Bộ Lọc</h4>
                        </div>
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="text-bold">Tất Cả Khách Hàng</span></td>
                                        <td>
                                            {{TotalLeadRecordCount}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="radio clip-radio radio-primary">
                                <input type="radio" id="radioAll" name="LeadType" ng-model="lead.LeadType" ng-change="filterLead(-1)" value="-1">
                                <label for="radioAll">
                                    Tất cả
                                </label>
                            </div>
                            <div class="radio clip-radio radio-primary">
                                <input type="radio" id="radioHot" name="LeadType" ng-model="lead.LeadType" ng-change="filterLead(1)" value="1">
                                <label for="radioHot">
                                    Nóng
                                </label>
                            </div>
                            <div class="radio clip-radio radio-primary">
                                <input type="radio" id="radioWarm" name="LeadType" ng-model="lead.LeadType" ng-change="filterLead(2)" value="2">
                                <label for="radioWarm">
                                    Ấm
                                </label>
                            </div>
                            <div class="radio clip-radio radio-primary">
                                <input type="radio" id="radioCold" name="LeadType" ng-model="lead.LeadType" ng-change="filterLead(3)" value="3">
                                <label for="radioCold">
                                    Lạnh
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <circle-spinner ng-show="showSpinner"></circle-spinner>
                    <div class="panel panel-white no-radius">
                        <div class="panel-body">
                            <table ng-table="tableParams" class="table table-striped">
                                <tbody>
                                    <tr ng-repeat="lead in $data">
                                        <td data-title="&#39;Tên&#39;">{{lead.Name}}</td>
                                        <td data-title="&#39;Email&#39;">{{lead.Email}}</td>
                                        <td data-title="&#39;Nguồn&#39;">
                                            <div ng-if="lead.FunnalPageName.length > 0">
                                                <dl>
                                                    <dt>
                                                        <span class="text-bold">Tên Funnel</span>
                                                    </dt>
                                                    <dd>
                                                        <a ng-href="{{lead.FunnalLink}}">{{lead.FunnalPageName}}</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div ng-if="lead.FunnalPageName.length === 0 && lead.SoloPageName.length > 0">
                                                <dl>
                                                    <dt>
                                                        <span class="text-bold">Tên Solo</span>
                                                    </dt>
                                                    <dd>
                                                        <a ng-href="{{lead.SoloLink}}">{{lead.SoloPageName}}</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                            <div ng-if="lead.FunnalPageName.length === 0 && lead.SoloPageName.length === 0">
                                                <dl>
                                                    <dt>
                                                        <span class="text-bold">Không Xác Định</span>
                                                    </dt>
                                                </dl>
                                            </div>
                                        </td>
                                        <td data-title="&#39;Phân Loại&#39;"><span ng-class="[getClassForLeadsType(lead.LeadType), 'b']"> {{lead.TypeName}}</span> </td>
                                        <td data-title="&#39;Ngày Tạo&#39;">{{lead.CreatedDate}}</td>
                                        <td data-title="&#39;Chi Tiết&#39;">
                                            <a ng-href="#/app/lead/details/{{lead.ID}}" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Chi Tiết">Chi Tiết</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <script type="text/ng-template" id="myModalViewLeadDetails.html">
                                <circle-spinner ng-show="showSpinner"></circle-spinner>
                                <div class="modal-body">
                                    <div>
                                        <!-- start: USER TABSET -->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-white">
                                                    <div class="panel-heading border-light">
                                                        <span class="modal-title text-bold">Xem Chi Tiết Khách Hàng</span>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="panel-body">
                                                        <p class="text-left">
                                                            <span class="text-bold text-uppercase">{{lead.Name}}</span>
                                                        </p>
                                                        <p>
                                                            <span class="text-bold text-uppercase">{{lead.CreatedDate}}</span>
                                                        </p>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <h3>
                                                            <a ng-href="mailto:{{ lead.Email }}" target="_blank" class="btn btn-primary btn-o btn-wide"><i class=" ti-email"></i></a>
                                                        </h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <uib-tabset class="tabbable">
                                            <!-- start: TAB OVERVIEW -->
                                            <uib-tab heading="Chi Tiết">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="panel panel-white">
                                                            <div class="panel-body">
                                                                <table class="table table-condensed">
                                                                    <thead>
                                                                        <tr>
                                                                            <th colspan="3">Thông Tin Khách Hàng</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>Tên</td>
                                                                            <td>
                                                                                <span>{{lead.Name}}</span>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Email</td>
                                                                            <td>
                                                                                {{lead.Email}}
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Điện Thoại</td>
                                                                            <td>{{lead.Phone}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>Nguồn</td>
                                                                            <td>
                                                                                <table class="table table-condensed" ng-if="lead.FunnalPageName.length > 0 && lead.SoloPageName.length > 0">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th colspan="2"></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td><span class="text-bold">Tên Funnel</span></td>
                                                                                            <td>
                                                                                                {{lead.FunnalPageName}}
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><span class="text-bold">Link Funnel</span></td>
                                                                                            <td>
                                                                                                {{lead.FunnalLink}}
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                                <table class="table table-condensed" ng-if="lead.FunnalPageName.length === 0 && lead.SoloPageName.length > 0">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th colspan="2"></th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td><span class="text-bold">Tên Solo</span></td>
                                                                                            <td>
                                                                                                {{lead.SoloPageName}}
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td><span class="text-bold">Link Solo</span></td>
                                                                                            <td>
                                                                                                {{lead.SoloLink}}
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <div class="row">
                                                                    <!-- /// controller:  'ChartCtrl1' -  localtion: assets/js/controllers/chartsCtrl.js /// -->
                                                                    <div>
                                                                        <h3>Đánh Giá</h3>
                                                                        <div class="col-sm-12">
                                                                            <canvas class="tc-chart" tc-chartjs-line="" chart-options="options" chart-data="data" chart-legend="lineChart1"></canvas>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <!-- end: TAB OVERVIEW -->
                                            <!-- start: TAB EDIT ACCOUNT -->
                                            <uib-tab heading="Ghi Chú" active="editActive">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="panel panel-white">
                                                            <div class="panel-body">
                                                                <p class="text-left">
                                                                    <span class="text-bold text-uppercase">{{lead.Notes}}</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </uib-tab>
                                            <!-- end: TAB EDIT ACCOUNT -->
                                        </uib-tabset>
                                        <!-- end: USER TABSET -->
                                    </div>
                                </div>
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>