<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <!-- start: VACCORDION -->
    <div class="row">
        <!-- /// controller:  'vAccordionCtrl' -  localtion: assets/js/controllers/responseNowCtrl.js /// -->
        <div ng-controller="responseNowvAccordionCtrl">
            <circle-spinner ng-show="showSpinner"></circle-spinner>
            <div class="col-md-12">
                <div class="panel panel-transparent">
                    <div class="panel-body">
                        <v-accordion class="vAccordion--default" control="firstAccordionControl">
                            <v-pane ng-repeat="pane in panes" expanded="$first">
                                <v-pane-header>
                                    <h5>{{ pane.header }}</h5>
                                </v-pane-header>
                                <v-pane-content>
                                    <p>
                                        {{ pane.content }}
                                    </p>
                                    <p>
                                        <a ng-click="showLead(pane.id)" class="btn btn-primary btn-o btn-wide"><i class=" ti-email"></i></a>
                                        <input type="hidden" name="responseSubject" id="responseSubject{{pane.id}}" ng-model="responseSubject" value="{{pane.header}}" />
                                        <input type="hidden" name="responseContent" id="responseContent{{pane.id}}" ng-model="responseContent" value="{{pane.content}}" />
                                    </p>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </div>
                    <script type="text/ng-template" id="myModalShowLead.html">
                        <circle-spinner ng-show="showSpinner"></circle-spinner>
                        <div class="modal-body">
                            <div>
                                <!-- start: Lead -->
                                <uib-tabset class="tabbable">
                                    <!-- start: TAB COLD -->
                                    <uib-tab heading="Lạnh" ng-if="coldLeads !== undefined && coldLeads.length > 0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-white">
                                                    <div class="panel-body">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="2"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="lead in coldLeads">
                                                                    <td>
                                                                        <p>{{lead.Name}}</p>
                                                                        <p>{{lead.CreatedDate}}</p>
                                                                    </td>
                                                                    <td>
                                                                        <a ng-click="sendEmailToLead($event)" data="{{lead.Email}}|{{emailContent.subject}}|{{emailContent.content}}" class="btn btn-primary btn-o btn-wide">
                                                                            <i class=" ti-email"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <!-- end: TAB COLD -->
                                    <!-- start: TAB WARM -->
                                    <uib-tab heading="Ấm" ng-if="warmLeads !== undefined && warmLeads.length > 0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-white">
                                                    <div class="panel-body">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="2"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="lead in warmLeads">
                                                                    <td>
                                                                        <p>{{lead.Name}}</p>
                                                                        <p>{{lead.CreatedDate}}</p>
                                                                    </td>
                                                                    <td>
                                                                        <a ng-click="sendEmailToLead($event)" data="{{lead.Email}}|{{emailContent.subject}}|{{emailContent.content}}" class="btn btn-primary btn-o btn-wide">
                                                                            <i class=" ti-email"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <!-- end: TAB WARM -->
                                    <!-- start: TAB HOT -->
                                    <uib-tab heading="Nóng" ng-if="hotLeads !== undefined && hotLeads.length > 0">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel panel-white">
                                                    <div class="panel-body">
                                                        <table class="table table-condensed">
                                                            <thead>
                                                                <tr>
                                                                    <th colspan="2"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="lead in hotLeads">
                                                                    <td>
                                                                        <p>{{lead.Name}}</p>
                                                                        <p>{{lead.CreatedDate}}</p>
                                                                    </td>
                                                                    <td>
                                                                        <a ng-click="sendEmailToLead($event)" data="{{lead.Email}}|{{emailContent.subject}}|{{emailContent.content}}" class="btn btn-primary btn-o btn-wide">
                                                                            <i class=" ti-email"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </uib-tab>
                                    <!-- end: TAB HOT -->
                                </uib-tabset>
                                <!-- end: LEAD -->
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!-- end: VACCORDION -->
</body>
</html>