<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <!-- start: VACCORDION -->
    <div class="row">
        <!-- /// controller:  'vAccordionCtrl' -  localtion: assets/js/controllers/responseNowCtrl.js /// -->
        <div ng-controller="responseNowvAccordionCtrl">
            <div class="col-md-12">
                <div class="panel panel-transparent">
                    <div class="panel-body">
                        <v-accordion class="vAccordion--default" control="firstAccordionControl">
                            <v-pane ng-repeat="pane in panes" expanded="$first">
                                <v-pane-header>
                                    <h5>{{ pane.header }}</h5>
                                </v-pane-header>
                                <v-pane-content>
                                    <p>
                                        {{ pane.content }}
                                    </p>
                                </v-pane-content>
                            </v-pane>
                        </v-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: VACCORDION -->
</body>
</html>