<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body style="padding-top: 50px;background-image: url('https://vvip.onlinesalespro.com/ospk/resources/plugins/jquery-file-upload/server/php/files/pool.jpg');">
    <div class="container">
        <div class="row padding-top">

            <div class="col-md-7">
                <div id="text_1" class="editable-headline t-text-1">Insert your headline text here. Insert your headline text here. Insert your headline text here.</div>
                <div id="text_2" class="editable-subheadline t-text-2">Insert your subheadline text here.</div>
            </div>

            <div class="col-md-5">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control t-input field-border color-border" id="email" placeholder="Enter Your Email Address" style="border-color: rgb(230, 126, 34);">
                    </div>
                    <button type="submit" id="text_3" class="editable-button-text btn submit-btn t-btn color-background" style="background-color: rgb(230, 126, 34);">Insert your button text here.</button>
                </form>
                <div class="t-privacy">
                    <i class="fa fa-lock" aria-hidden="true"></i> Privacy assured.
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="t-footer">
                    <a href="https://onlinesalespro.com/privacy" class="footer-link" target="_blank">Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end: 404 -->
</body>
</html>