<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="Scripts/spa_portal/assets/css/styles.chaching.solo.page.css">
    <link rel="stylesheet" href="Scripts/spa_portal/assets/css/landers.css">
</head>
<body>
    <div id="cp-cover"></div>
    <div class="container" ng-controller="editorSoloPageCtrl">
        <div ng-if="soloPageDetails.FromType=='1'">
            <div class="row padding-top">
                <div class="col-md-7">
                    <div id="video_1" ng-if="isShowVideoSource">
                        <iframe width="560" height="315" ng-src="{{VideoSource}}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div id="image_1" ng-if="isShowImageSource">
                        <div class="col-md-8 col-md-offset-4">
                            <img src="{{ImageSource}}" alt="offce" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div id="text_1" class="editable-headline t-text-1">{{soloPageDetails.Title}}</div>
                    <div id="text_2" class="editable-subheadline t-text-2">{{soloPageDetails.SubTitle}}</div>
                    <form class="form-withdrawal-request" name="SoLoPageForm" id="SoLoPageForm" novalidate="" ng-submit="form.submit(SoLoPageForm)">
                        <div class="form-group" ng-class="{'has-error':SoLoPageForm.email.$dirty && SoLoPageForm.email.$invalid, 'has-success':SoLoPageForm.email.$valid}">
                            <input type="email" class="form-control t-input field-border color-border" id="email" name="email" ng-model="lead.email" placeholder="Enter Your Email Address" required="">
                            <span class="error text-small block" ng-if="SoLoPageForm.email.$dirty && SoLoPageForm.email.$invalid">Email là bắt buộc.</span>
                        </div>
                        <input type="hidden" id="refLink" name="refLink" value="{{soloPageDetails.RefLink}}" />
                        <button type="submit" id="text_3" class="editable-button-text btn submit-btn t-btn color-background" style="background-color:{{soloPageDetails.ButtonColor}};">{{soloPageDetails.ButtonName}}.</button>
                    </form>
                </div>
            </div>
        </div>
        <div ng-if="soloPageDetails.FromType=='2'">
            <div class="row padding-top">
                <div class="col-md-7">
                    <div id="video_1" ng-if="isShowVideoSource">
                        <iframe width="560" height="315" ng-src="{{VideoSource}}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div id="image_1" ng-if="isShowImageSource">
                        <div class="col-md-8 col-md-offset-4">
                            <img src="{{ImageSource}}" alt="offce" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div id="text_1" class="editable-headline t-text-1">{{soloPageDetails.Title}}</div>
                    <div id="text_2" class="editable-subheadline t-text-2">{{soloPageDetails.SubTitle}}</div>
                    <form class="form-withdrawal-request" name="SoLoPageForm" id="SoLoPageForm" novalidate="" ng-submit="form.submit(SoLoPageForm)">
                        <div class="form-group" ng-class="{'has-error':SoLoPageForm.name.$dirty && SoLoPageForm.name.$invalid, 'has-success':SoLoPageForm.name.$valid}">
                            <input type="text" class="form-control t-input field-border color-border" id="name" name="name" ng-model="lead.name" placeholder="Name" required="">
                            <span class="error text-small block" ng-if="SoLoPageForm.name.$dirty && SoLoPageForm.name.$invalid">Tên là bắt buộc.</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error':SoLoPageForm.email.$dirty && SoLoPageForm.email.$invalid, 'has-success':SoLoPageForm.email.$valid}">
                            <input type="email" class="form-control t-input field-border color-border" id="email" name="email" ng-model="lead.email" placeholder="Enter Your Email Address" required="">
                            <span class="error text-small block" ng-if="SoLoPageForm.email.$dirty && SoLoPageForm.email.$invalid">Email là bắt buộc.</span>
                        </div>
                        <input type="hidden" id="refLink" name="refLink" value="{{soloPageDetails.RefLink}}" />
                        <button type="submit" id="text_3" class="editable-button-text btn submit-btn t-btn color-background" style="background-color:{{soloPageDetails.ButtonColor}};">{{soloPageDetails.ButtonName}}.</button>
                    </form>
                </div>
            </div>
        </div>
        <div ng-if="soloPageDetails.FromType=='3'">
            <div class="row padding-top">
                <div class="col-md-7">
                    <div id="video_1" ng-if="isShowVideoSource">
                        <iframe width="560" height="315" ng-src="{{VideoSource}}"
                                frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div id="image_1" ng-if="isShowImageSource">
                        <div class="col-md-8 col-md-offset-4">
                            <img src="{{ImageSource}}" alt="offce" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div id="text_1" class="editable-headline t-text-1">{{soloPageDetails.Title}}</div>
                    <div id="text_2" class="editable-subheadline t-text-2">{{soloPageDetails.SubTitle}}</div>
                    <form class="form-withdrawal-request" name="SoLoPageForm" id="SoLoPageForm" novalidate="" ng-submit="form.submit(SoLoPageForm)">
                        <div class="form-group" ng-class="{'has-error':SoLoPageForm.name.$dirty && SoLoPageForm.name.$invalid, 'has-success':SoLoPageForm.name.$valid}">
                            <input type="text" class="form-control t-input field-border color-border" id="name" name="name" ng-model="lead.name" placeholder="Name" required="">
                            <span class="error text-small block" ng-if="SoLoPageForm.name.$dirty && SoLoPageForm.name.$invalid">Tên là bắt buộc.</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error':SoLoPageForm.email.$dirty && SoLoPageForm.email.$invalid, 'has-success':SoLoPageForm.email.$valid}">
                            <input type="email" class="form-control t-input field-border color-border" id="email" name="email" ng-model="lead.email" placeholder="Enter Your Email Address" required="">
                            <span class="error text-small block" ng-if="SoLoPageForm.email.$dirty && SoLoPageForm.email.$invalid">Email là bắt buộc.</span>
                        </div>
                        <div class="form-group" ng-class="{'has-error':SoLoPageForm.phone.$dirty && SoLoPageForm.phone.$invalid, 'has-success':SoLoPageForm.phone.$valid}">
                            <input type="text" class="form-control t-input field-border color-border" id="phone" name="phone" ng-model="lead.phone" placeholder="Phone" required="">
                            <span class="error text-small block" ng-if="SoLoPageForm.phone.$dirty && SoLoPageForm.phone.$invalid">Số điện thoại là bắt buộc.</span>
                        </div>
                        <input type="hidden" id="refLink" name="refLink" value="{{soloPageDetails.RefLink}}" />
                        <button type="submit" id="text_3" class="editable-button-text btn submit-btn t-btn color-background" style="background-color:{{soloPageDetails.ButtonColor}};">{{soloPageDetails.ButtonName}}.</button>
                    </form>
                </div>
            </div>
        </div>
        <div ng-if="soloPageDetails.FromType=='4'">
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="t-box">
                        <div id="text_1" class="editable-headline t-text-1">{{soloPageDetails.Title}}</div>
                        <div id="text_2" class="editable-subheadline t-text-2">{{soloPageDetails.SubTitle}}</div>
                    </div>
                    <div class="k-panel" style="background-color: white !important;">
                        <div class="row">
                            <div class="k-h2"><span id="relno-3" class="editable hover" style="box-shadow: none; cursor: initial; color: rgb(38, 92, 138);"><span>{{soloPageDetails.ThankYouContent}}</span></span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="k-h1"><span id="relno-1" class="editable hover" style="box-shadow: none; cursor: initial; color: rgb(0, 0, 0);"><span><span> </span></span></span></div>
                            </div>
                            <div class="col-md-12">
                                <img id="relno-4" class="imgUp hover maxH imageLeft2" data-imgno="2" src="/Content/Resources/Images/lifestyle95.jpg" style="max-width: 708px; box-shadow: none; cursor: initial; left: auto; top: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>