<!--
###############################################################################
# Detail  : Section Side bar page
# Author  : Tan Thiam Soon
# Date    : 01-Sep-2016
#
# Maintanence History
#=====+================+=============+=========================================
# SID | Name           | Date        | Reason
#=====+================+=============+=========================================
# SK1 | Tan Thiam Soon | 01-Sep-2016 | APF v2.0 release
###############################################################################
-->
<div class="row header">
    <div class="col-xs-12">
        <div class="user pull-right">
            <div class="item" ng-hide="false" title="Help" ng-click="">
                <a href="#/help" class="dropdown-toggle">
                    <i class="fa fa-question-circle" id="btnHelp"></i>
                </a>
            </div>
            <div class="meta usermeta" ng-hide="false">
                <div class="username" ng-bind="fieldUserName"></div>
                <div class="branch" ng-bind="fieldUnitName"></div>
                <div class="last-login" ng-bind="fieldLastLogin | date:'dd-MMM-yyyy HH:mm'"></div>
            </div>

            <div class="item dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                    <img src="Scripts/spa/assets/img/avatar.jpg">
                </a>
            </div>
        </div>
        <div class="meta">
            <div class="page">
                123 ChaChing <!-- TODO: Change your application name here -->
            </div>
            <div class="breadcrumb-links">
                <div ncy-breadcrumb></div> <!--Home/[ApplicationLink]-->
            </div>
        </div>
    </div>
</div>

