<!DOCTYPE html>
<div class="row" ng-controller="helpCtrl">

    <div class="col-md-12">
        <div class="widget widget-danger">
            <div class="widget-header">
                <div class="row">
                    <div class="pull-left widget-title">
                        <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">Help</span>
                    </div>
                    <div class="pull-right col-xs-6 col-sm-4">
                    </div>
                    <div class="widget-tools pull-right">
                        <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
                            <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="widget-body" ng-class="classes" ng-show="widgetShow">
                <div ng-show="isLoading" class="ng-hide loading">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <div ng-hide="isLoading" class="widget-content">

                </div>
            </div>
        </div>
    </div>

</div>
