<!DOCTYPE html>
<div class="row" ng-controller="homeCtrl">
<div class="col-md-12">
  <div class="widget widget-danger" >
    <div class="widget-header">
<div class="row">
  <div class="pull-left widget-title">
    <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">Home</span>
  </div>
  <div class="pull-right col-xs-6 col-sm-4">
</div>
  <div class="widget-tools pull-right">
    <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
      <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
    </button>
  </div>
</div>
</div>
<div class="widget-body" ng-class="classes" ng-show="true">
  <div ng-show="isLoading" class="ng-hide loading">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
  <div ng-hide="true" class="widget-content">

<div class="section">
  <div class="section-header">
	<div class="row">
		<div class="pull-left section-title">
			<i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">Section Panel Header Level 3</span>
		</div>
		<div class="pull-right col-xs-6 col-sm-4"></div>
		<div class="section-tools pull-right">
			<button type="button" class="btn btn-box-tool" ng-click="sectionShow = !sectionShow" ng-hide="hide">
				<i class="fa fa-minus" ng-class="{'fa-plus':  !sectionShow, 'fa-minus':  sectionShow}"></i>
			</button>
		</div>
	</div>
</div>
<div class="section-body" ng-class="classes" ng-show="true">
    <div ng-hide="isLoading" class="section-content">
      <h4 class="lv4-header">Header level 4 </h4>

        <h1>Sample Code:</h1>

        <h2>Autocomplete Sample</h2>

        <div class="padded-row">
            <div angucomplete-alt id="ex2"
                 placeholder="Search people"
                 pause="300"
                 selected-object="selectedPerson"
                 local-data="people"
                 title-field="firstName,surname"
                 description-field="twitter"
                 image-field="pic"
                 minlength="1"
                 input-class="form-control form-control-small"
                 match-class="highlight"
                 local-search="localSearch">
            </div>
        </div>



        <div class="padded-row">
            <div angucomplete-alt id="ex16"
                 placeholder="Search countries"
                 maxlength="50"
                 pause="100"
                 selected-object="countrySelected"
                 initial-value="selectedCountry16"
                 local-data="countries"
                 search-fields="name"
                 title-field="name"
                 minlength="1"
                 input-class="form-control form-control-small"
                 match-class="highlight">
            </div>
        </div>
        <button class="btn btn-blue btn-slim" ng-click="changeInput('ex16')">Change #ex15</button>


        <br/>
        <h1>File Upload Sample</h1>

        <p>Choose multiple files: {{name}}!</p>
        <input type="file" ng-file-model="files" multiple />
        <button type="button" ng-click="upload()">Upload</button>

        <p ng-repeat="file in files">
            {{file.name}}
        </p>

  </div>
</div>
</div>


</div></div>
</div>
</div>
</div>
