<!--
###############################################################################
# Detail  : Section Side bar page
# Author  : Tan Thiam Soon
# Date    : 01-Sep-2016
#
# Maintanence History
#=====+================+=============+=========================================
# SID | Name           | Date        | Reason
#=====+================+=============+=========================================
# SK1 | Tan Thiam Soon | 01-Sep-2016 | APF v2.0 release
###############################################################################
-->


<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                <img src="Scripts/spa/assets/img/mufg_mb_rgb_pos.png">
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>
        <li class="sidebar-item" title="businessDate">
            <span class="item-icon fa fa-bank"></span>
            <span ng-bind="fieldRoleName"></span>
        </li>
        <li class="sidebar-title"><span>Application Menu</span></li>
        <!-- Begin add sidebar -->
        <li class="sidebar-list">
            <a href="#/home">Home<span class="menu-icon fa fa-home"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/settlementAccountNumber">Settlement Account Number<span class="menu-icon fa fa-delicious"></span></a>
        </li>      
        <!-- End add sidebar -->
    </ul>
</div>
