<!DOCTYPE html>
<div ng-controller="reportController">
    <div class="row">
        <div class="widget-body col-md-12" ng-class="classes" ng-show="widgetShow">
            <rd-loading ng-show="isLoading"></rd-loading>
            <div ng-hide="isLoading" class="widget-content">
                <div class="row alerts-container" data-ng-show="alerts.length">
                    <div class="col-xs-12">
                        <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        Domestic Remittance
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
