<!DOCTYPE html>
<div ng-controller="importFileApprovalController">
    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-danger">
                <div class="widget-header">
                    <div class="row">
                        <div class="pull-left widget-title">
                            <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">Import File Approval</span>
                        </div>
                        <div class="pull-right col-xs-6 col-sm-4"></div>
                        <div class="widget-tools pull-right">
                            <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
                                <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body" ng-class="classes" ng-show="widgetShow">
                    <!--loading-->
                    <rd-loading ng-show="isLoading"></rd-loading>
                    <div ng-hide="isLoading" class="widget-content">
                        <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
                            <div class="col-xs-12">
                                <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                            </div>
                        </div>
                        <form class="form-horizontal">
                            <div class="row form-group">
                                <label class="col-md-2 control-label text-left">Import Date <span class="text-danger"></span></label>
                                
                                <div class="col-md-3">
                                    <div class="input-group repair_group_btn">
                                        <input type="text" class="form-control" onkeydown="return false;" 
                                               ng-model="CalendarInputDate" ng-click="openCalendar()"
                                               ng-change="dateChange()"                                               
                                               uib-datepicker-popup="dd/MM/yyyy" is-open="popupCalendar.opened" close-text="Close"
                                               alt-input-formats="altInputFormats" />

                                        <!-- <div class="input-group-btn"> name="searchText" id="searchText"
                                        <!-- <div class="input-group-addon"> 
                                            <button type="button" class="btn btn-default resetPadding" ng-click="open1()">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </button>
                                        </div>
                                        -->

                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th" ng-click="openCalendar()"></span>
                                        </div>

                                    </div>

                                </div>

                                <!-- Old Calendar here -->
                                <!--<div class="col-md-3">
                                        <div class="input-group date" data-provider="datepicker">
                                            <input type="text" ng-model="currentDate" class="datepicker form-control">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>

                                    </div>-->
                                <!-- Old Calendar here -->
                            </div>
                        </form>
                        <hr />
                        <div class="row form-group">
                            <label class="col-md-3 control-label text-left">Result: <span class="text-danger"></span></label>
                        </div>
                        <div class="row">
                            <label class="col-md-3 control-label text-left">Total files: {{pageData.total}}</label>
                            <label class="col-md-3 control-label text-left">Imported: {{Imported}} </label>
                            <label class="col-md-3 control-label text-left">Import fail: {{ImportedFailed}}</label>
                            <label class="col-md-3 control-label text-left">Exported: {{Exported}} </label>
                        </div>
                        <div class="row">
                            <label class="col-md-3 control-label text-lef">Approved: {{Approved}}</label>
                            <label class="col-md-3 control-label text-lef">Rejected: {{Rejected}}</label>
                            <label class="col-md-3 control-label text-lef">Send To ARH Failed: {{SendToARHFailed}}</label>
                            <label class="col-md-3 control-label text-lef">Send To ARH successed: {{SendToARHSucceed}}</label>
                        </div>
                        <!-- Search Result List -->
                        <div id="SearchResultList" style="display:block">
                            <table id="data-table" datatable="" dt-options="dtNewOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover" width="100%" style="table-layout:auto !important"></table>
                        </div>

                        <!-- Search Result List -->
                        <!--<div id="SearchResultList" style="display:block">

                            <table id="data-table" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>File Name</th>
                                        <th>File Type</th>
                                        <th>Total Transactions</th>
                                        <th>Imported Transactions</th>
                                        <th>Transaction Validation Fail</th>
                                        <th>Status</th>
                                        <th>View Log</th>
                                        <th>Approve/Reject</th>
                                        <th>Remark</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="odd gradeA" ng-repeat="importFileManual in importFileManuals">
                                        <td>{{$index + 1}}</td>
                                        <td ng-if="importFileManual.FileType == 'CTD'">
                                            <a ui-sref="importfile.vibadetail({ id: importFileManual.ID })">{{importFileManual.FileName}}</a>
                                        </td>
                                        <td ng-if="importFileManual.FileType != 'CTD'">
                                            <a ui-sref="importfile.detail({ id: importFileManual.ID })">{{importFileManual.FileName}}</a>
                                        </td>

                                        <td>{{importFileManual.FileType}}</td>
                                        <td>{{importFileManual.TotalTransaction}}</td>
                                        <td>{{importFileManual.TotalImportedTransaction}}</td>
                                        <td>{{importFileManual.TotalTransactionValidationFail}}</td>
                                        <td>{{importFileManual.Status}}</td>
                                        <td><a href="javascript:;" ng-click="toggleModalViewLogDetail({id: importFileManual.ID})">View Log</a></td>
                                        <td><input ng-if="(importFileManual.Status == 'Imported' && importFileManual.FileType != 'CTD') || importFileManual.Status == 'Exported'" type="checkbox" ng-model="importFileManual.isChecked"></td>
                                        <td>{{importFileManual.Remarks}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>-->




                        <div class="row form-group">
                            <div class="col-md-12 text-right">
                                <button type="button" class="btn btn-default" ng-click="openModalApprove()">
                                    <i class="glyphicon"></i>
                                    <span>Approve</span>
                                </button>
                                <button type="button" class="btn btn-default" ng-click="openModalReject()">
                                    <i class="glyphicon"></i>
                                    <span>Reject</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #modal-dialog - View Detail Log File -->
    <div class="modal modal-message fade" id="modal-ViewLogDetail">
        <div class="modal-dialog modal-log-detail">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Log File Detail</h4>
                </div>
                <div class="modal-body">
                    <textarea readonly="readonly" id="FileContents" style="width:100%; height : 500px" />
                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-dialog -->
    <!-- #modal-alert - File Approve -->
    <div class="modal fade" id="modal-alert-approve">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-heading m-b-0">
                        <h4><i class="fa fa-info-circle"></i> Confirm Approval</h4>
                        <p ng-show="isValueDateFutureDate" style="color:red;">Warning: The Value date of {{futureDateFileName}} is future date.</p>
                        <p>Are you sure you want to approve the selected file?</p>
                    </div>
                    <div class="alert alert-heading m-b-0">
                        <label class="col-md-2 control-label text-left"> Remarks <span class="text-danger"></span></label>
                        <div class="row">
                            <div class="col-md-10">
                                <textarea placeholder="Remarks" rows="5" id="editFormRemarks"
                                          name="Remarks" class="form-control" ng-model="Remarks"></textarea>
                                <p ng-show="showErrorMax" class="help-block">Remarks is too long.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" ng-click="approve()" ng-disabled="buttonApproveDisabled" class="btn btn-sm btn-default">OK</a>
                    <a href="javascript:;" class="btn btn-sm btn-default" ng-click="closeModalApprove()">Cancel</a>
                </div>
                <div id="alertErrorMessageApprovalContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                    <strong>Error!</strong>
                    <span id="alertMessageApproval"></span>
                    <span class="close" data-dismiss="alert">&times;</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-alert -->
    <!-- #modal-alert - File Reject -->
    <div class="modal fade" id="modal-alert-reject">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-heading m-b-0">
                        <h4><i class="fa fa-info-circle"></i> Confirm Reject</h4>
                        <p>Are you sure you want to reject the selected file?</p>
                    </div>
                    <label class="col-md-2 control-label text-left"> Remarks <span class="text-danger"></span></label>
                    <div class="row">
                        <div class="col-md-10">
                            <textarea placeholder="Remarks" rows="5" id="editFormRemarks"
                                      name="Remarks" class="form-control" ng-model="Remarks"></textarea>
                            <p ng-show="showErrorMax" class="help-block">Remarks is too long.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" ng-click="reject()" ng-disabled="buttonRejectDisabled" class="btn btn-sm btn-default">OK</a>
                    <a href="javascript:;" class="btn btn-sm btn-default" ng-click="closeModalReject()">Cancel</a>
                </div>
                <div id="alertErrorMessageRejectContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                    <strong>Error!</strong>
                    <span id="alertMessageReject"></span>
                    <span class="close" data-dismiss="alert">&times;</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-alert -->
</div>
