<!DOCTYPE html>
<div ng-controller="paramSettingController" >
  <div class="row">
<div class="col-md-12">
  <div  class="widget widget-danger" >
    <div class="widget-header">
      <div class="row">
        <div class="pull-left widget-title">
          <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">Parameter Settings</span>
        </div>
        <div class="pull-right col-xs-6 col-sm-4"></div>
        <div class="widget-tools pull-right">
          <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
            <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
          </button>
        </div>
      </div>
    </div>
      <div class="widget-body" ng-class="classes" ng-show="widgetShow">
          <!--loading-->
          <rd-loading ng-show="isLoading"></rd-loading>
          <div ng-hide="isLoading" class="widget-content">
              <div class="row alerts-container" data-ng-show="alerts.length">
                  <div class="col-xs-12">
                      <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                  </div>
              </div>
              <form class="form-horizontal">
                  <div class="row form-group">
                      <label class="col-sm-1 control-label" style="text-align:left;">Group </label>
                      <div class="col-md-2">
                          <select id="groupSelect" name="groupSelect" class="form-control" ng-options="group as group.Name for group in groups track by group.ID" ng-change="changegroup()" ng-model="groupselected" style="width:auto;">
                              <option value="">-- Select Group --</option>
                          </select>

                      </div>
                  </div>
              </form>
              <hr />


              <div class="form-group">
                  <div class="col-md-6">
                      <!--<button type="button" ng-click="toggleModalAddForm()" class="btn btn-sm btn-default  m-t-5" title="Registration">
                          <i class="glyphicon glyphicon-plus"></i>
                          <span></span>
                      </button>-->
                      <button type="button" ng-click="openModalEditForm()" class="btn btn-sm btn-default  m-l-5 m-t-5" title="Edit">
                          <i class="glyphicon glyphicon-edit"></i>
                          <span></span>
                      </button>
                      <!--<button type="button" ng-click="openModalDelete()" class="btn btn-sm btn-default  m-l-5 m-t-5" title="Delete">
                          <i class="glyphicon glyphicon-trash"></i>
                          <span></span>
                      </button>-->
                  </div>
              </div>
              <!-- Parameter List -->
              <div id="ParameterList" style="display:block">
                  <table id="data-table" datatable="" dt-options="dtNewOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover" style="width:100%;table-layout:auto !important;">
                  </table>
              </div>

          </div>
      </div>
    </div>
  </div>
</div>

   
    <!-- #modal-dialog - parameter setting Add New -->
    <div class="modal modal-message fade" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Parameter Settings: Add New</h4>
                </div>
                <form name="paramNewForm" class="form-horizontal">

                    <div class="modal-body">

                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 underline m-b-5">
                                <h5>Paramater Information</h5>
                            </div>
                            <!-- begin col-12 -->
                            <div class="col-md-12">

                                <!-- Start Input Form -->
                                <div class="form-group m-t-5">
                                    <label class="col-md-3 control-label text-left">Group <span class="text-danger">*</span> </label>
                                    <div class="col-md-6">
                                        <select name="groupSelectNew" class="form-control" ng-options="groupnew as groupnew.Name for groupnew in groupnews track by groupnew.ID" ng-model="groupnewselected"></select>

                                    </div>
                                </div>
                                <!-- begin ID -->
                                <input type="hidden" id="newFormID" name="ID" ng-model="paramNew.ID">
                                <!-- end ID -->
                                <!-- begin FieldName -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : paramNewForm.FieldName.$invalid && !paramNewForm.FieldName.$pristine }">
                                    <label class="col-md-3 control-label text-left"> Field Name <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="newFormFieldName" name="FieldName" class="form-control" ng-model="paramNew.FieldName" ng-minlength="1" ng-maxlength="100" required ng-keypress="editKeyPress($event)">

                                        <p ng-show="paramNewForm.FieldName.$error.minlength" class="help-block">FieldName is too short.</p>
                                        <p ng-show="paramNewForm.FieldName.$error.maxlength" class="help-block">FieldName is too long.</p>
                                        <p ng-show="paramNewForm.FieldName.$invalid && !paramNewForm.FileName.$pristine" class="help - block">FieldName is required.</p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <!-- end FieldName -->
                                <!-- begin Code -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : paramNewForm.Code.$invalid && !paramNewForm.Code.$pristine }">
                                    <label class="col-md-3 control-label text-left"> Code <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="NewFormCode" name="Code" class="form-control" ng-model="paramNew.Code" ng-minlength="1" ng-maxlength="3" required ng-keypress="editKeyPress($event)">

                                        <p ng-show="paramNewForm.Code.$error.minlength" class="help-block">Code is too short.</p>
                                        <p ng-show="paramNewForm.Code.$error.maxlength" class="help-block">Code is too long.</p>
                                        <p ng-show="paramNewForm.Code.$invalid && !paramNewForm.FileName.$pristine" class="help - block">Code is required.</p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <!-- end Code -->
                                <!-- begin Value -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : paramNewForm.Value.$invalid && !paramNewForm.Value.$pristine }">
                                    <label class="col-md-3 control-label text-left"> Value <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="newFormValue" name="Value" class="form-control" ng-model="paramNew.Value" ng-minlength="1" ng-maxlength="500" specialcharacters required ng-keypress="editKeyPress($event)">

                                        <p ng-show="paramNewForm.Value.$error.minlength" class="help-block">Value is too short.</p>
                                        <p ng-show="paramNewForm.Value.$error.maxlength" class="help-block">Value is too long.</p>
                                        <p ng-show="paramNewForm.Value.$invalid && !paramNewForm.FileName.$pristine" class="help - block">Value is required.</p>
                                        <p ng-show="paramNewForm.Value.$error.specialcharacters">
                                            Value has invalid characters.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <!-- end Value -->
                                <!-- begin CreatedBy -->
                                <input type="hidden" id="newFormCreatedBy" name="CreatedBy" ng-model="paramNew.CreatedBy">
                                <!-- end CreatedBy -->
                                <!-- begin CreatedDate -->
                                <input type="hidden" id="newFormCreatedDate" name="CreatedDate" ng-model="paramNew.CreatedDate">
                                <!-- end CreatedDate -->
                                <!-- begin UpdatedBy -->
                                <input type="hidden" id="newFormUpdatedBy" name="UpdatedBy" ng-model="paramNew.UpdatedBy">
                                <!-- end UpdatedBy -->
                                <!-- begin UpdatedDate -->
                                <input type="hidden" id="newFormUpdatedDate" name="UpdatedDate" ng-model="paramNew.UpdatedDate">
                                <!-- end UpdatedDate -->
                  
                                <!-- End Input Form -->


                            </div>

                            <!-- end col-12 -->
                        </div>
                        <!-- end row -->

                    </div>
                    <div class="underline">
                    </div>
                    <div class="modal-footer">
                        <!--<label for="submit-form">-->
                        <button type="button" class="btn btn-default" ng-click="submitNewForm()" ng-disabled="buttonAddDisabled">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Save</span>
                        </button>
                        <!--</label>-->
                        <a href="javascript:;" ng-click="closeModalNewForm()"  class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                    <div id="alertErrorMessageContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                        <strong>Error!</strong>
                        <span id="alertMessage"></span>
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- end #modal-dialog -->


  <!-- #modal-dialog - 1 - Param Edit -->
<div class="modal modal-message fade" id="modal-edit">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                <h4 class="modal-title">Parameter Settings: Edit</h4>
            </div>
            <form name="paramEditForm" novalidate class="form-horizontal">
                <div class="modal-body">

                    <!-- begin row -->
                    <div class="row">
                        <div class="col-md-12 underline m-b-5">
                            <h5>Parameter Information</h5>
                        </div>
                        <!-- begin col-12 -->
                        <div class="col-md-12">

 <!-- Start Input Form -->
                            <div class="form-group m-t-5">
                                <label class="col-md-3 control-label text-left">Group <span class="text-danger">*</span> </label>
                                <div class="col-md-6">
                                    <select name="groupSelectEdit" ng-disabled="true" class="form-control" ng-options="groupedit as groupedit.Name for groupedit in groupedits track by groupedit.ID" ng-model="groupeditselected" ></select>

                                </div>
                            </div>
                                <!-- begin ID -->
                                <input type="hidden" id="editFormID" name="ID" ng-model="paramEdit.ID">
                                <!-- end ID -->
                                <!-- begin FieldName -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : paramEditForm.FieldName.$invalid && !paramEditForm.FieldName.$pristine }">
                                    <label class="col-md-3 control-label text-left"> Field Name <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormFieldName" ng-disabled="true" name="FieldName" class="form-control" ng-model="paramEdit.FieldName" ng-minlength="1" ng-maxlength="100" required ng-keypress="editKeyPress($event)">

                                        <p ng-show="paramEditForm.FieldName.$error.minlength" class="help-block">FieldName is too short.</p>
                                        <p ng-show="paramEditForm.FieldName.$error.maxlength" class="help-block">FieldName is too long.</p>
                                        <p ng-show="paramEditForm.FieldName.$invalid && !paramEditForm.FileName.$pristine" class="help - block">FieldName is required.</p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <!-- end FieldName -->
                                <!-- begin Code -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : paramEditForm.Code.$invalid && !paramEditForm.Code.$pristine }">
                                    <label class="col-md-3 control-label text-left"> Code <span class="text-danger"></span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormCode" ng-disabled="true" name="Code" class="form-control" ng-model="paramEdit.Code" ng-minlength="1" ng-maxlength="3" ng-keypress="editKeyPress($event)">

                                        <p ng-show="paramEditForm.Code.$error.minlength" class="help-block">Code is too short.</p>
                                        <p ng-show="paramEditForm.Code.$error.maxlength" class="help-block">Code is too long.</p>
                                        <p ng-show="paramEditForm.Code.$invalid && !paramEditForm.FileName.$pristine" class="help - block">Code is required.</p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <!-- end Code -->
                                <!-- begin Value -->
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (paramEditForm.Value.$invalid || submitted) && (paramEditForm.Value.$error.minlength ||paramEditForm.Value.$error.maxlength ||paramEditForm.Value.$error.required ||paramEditForm.Value.$error.specialcharacters) }">
                                    <label class="col-md-3 control-label text-left"> Value <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormValue" name="Value" class="form-control" ng-model="paramEdit.Value" ng-minlength="1" ng-maxlength="500" required ng-keypress="editKeyPress($event)">

                                        <p ng-show="(paramEditForm.Value.$dirty || submitted) && paramEditForm.Value.$error.minlength" class="help-block">Value is too short.</p>
                                        <p ng-show="(paramEditForm.Value.$dirty || submitted) && paramEditForm.Value.$error.maxlength" class="help-block">Value is too long.</p>
                                        <p ng-show="(paramEditForm.Value.$dirty || submitted) && paramEditForm.Value.$error.required" class="help-block">Value is required.</p>
                                        <p ng-show="(paramEditForm.Value.$dirty || submitted) && paramEditForm.Value.$error.specialcharacters" class="help-block">
                                            Value has invalid characters.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                    </div>
                                </div>
                                <!-- end Value -->
                                <!-- begin CreatedBy -->
                                <input type="hidden" id="editFormCreatedBy" name="CreatedBy" ng-model="paramEdit.CreatedBy">
                                <!-- end CreatedBy -->
                                <!-- begin CreatedDate -->
                                <input type="hidden" id="editFormCreatedDate" name="CreatedDate" ng-model="paramEdit.CreatedDate">
                                <!-- end CreatedDate -->
                                <!-- begin UpdatedBy -->
                                <input type="hidden" id="editFormUpdatedBy" name="UpdatedBy" ng-model="paramEdit.UpdatedBy">
                                <!-- end UpdatedBy -->
                                <!-- begin UpdatedDate -->
                                <input type="hidden" id="editFormUpdatedDate" name="UpdatedDate" ng-model="paramEdit.UpdatedDate">
                                <!-- end UpdatedDate -->

                            </div>

                        <!-- end col-12 -->
                    </div>
                    <!-- end row -->

                </div>
                <div class="underline">
                </div>
                <div class="modal-footer">
                    <button type="button" ng-click="submitEditForm()" ng-disabled="buttonEditDisabled" class="btn btn-default">
                        <i class="glyphicon glyphicon-edit"></i>
                        <span>Save</span>
                    </button>
                    <a href="javascript:;" ng-click="closeModalEditForm()" class="btn btn-default" >Close</a>
                </div>
                <div id="alertErrorMessageEditContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                    <strong>Error!</strong>
                    <span id="alertMessageEdit"></span>
                    <span class="close" data-dismiss="alert">&times;</span>
                </div>
            </form>

        </div>
    </div>
</div>
<!-- end #modal-dialog -->

    <!-- #modal-alert - Parameter Delete -->
    <div class="modal fade" id="modal-alert-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-heading m-b-0">
                        <h4><i class="fa fa-info-circle"></i> Confirm Deletion</h4>
                        <p>Are you sure you want to delete the selected Parameter Setting?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" ng-click="submitDeleteForm()" ng-disabled="buttonDeleteDisabled" class="btn btn-sm btn-default">OK</a>
                    <a href="javascript:;" class="btn btn-sm btn-default" ng-click="closeModalDelete()">Cancel</a>
                </div>
                <div id="alertErrorMessageDeleteContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                    <strong>Error!</strong>
                    <span id="alertMessageDelete"></span>
                    <span class="close" data-dismiss="alert">&times;</span>
                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-alert -->

</div>