<!DOCTYPE html>
<div ng-controller="stateTreasuryController">

    <div class="row">
        <div class="col-md-12">
            <div class="widget widget-danger">
                <div class="widget-header">
                    <div class="row">
                        <div class="pull-left widget-title">
                            <i class="fa fa-tasks" ng-class="icon"></i> <span class="ng-binding">State Treasury Management</span>
                        </div>
                        <div class="pull-right col-xs-6 col-sm-4"></div>
                        <div class="widget-tools pull-right">
                            <button type="button" class="btn btn-box-tool" ng-click="widgetShow = !widgetShow" ng-hide="requireWidgetShow">
                                <i class="fa fa-minus" ng-class="{'fa-plus':  !widgetShow, 'fa-minus':  widgetShow}"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="widget-body" ng-class="classes" ng-show="widgetShow">
                    <div ng-hide="isLoading" class="widget-content">

                        <div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
                            <div class="col-xs-12">
                                <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                            </div>
                        </div>

                        <form class="form-horizontal">
                            <div class="row form-group">
                                <label class="col-md-1 control-label text-left">Code <span class="text-danger"></span></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="" id="searchCode" ng-model="searchCode" ng-keypress="searchKeyPress($event)" />
                                </div>
                                <label class="col-md-1 control-label text-left">Name <span class="text-danger"></span></label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" placeholder="" id="searchName" ng-model="searchName" ng-keypress="searchKeyPress($event)" />
                                </div>
                                <div class="checkbox col-md-1">
                                    <label><input type="checkbox" ng-model="searchInvalid">Invalid</label>
                                </div>

                                <div class="col-md-3 text-left">
                                    <button type="button" class="btn btn-default" ng-click="searchstatetreasury()">
                                        <i class="glyphicon glyphicon-search"></i>
                                        <span>Search</span>
                                    </button>

                                    <button type="button"  ng-show="isOfficer" class="btn btn-default start" ng-click="clearForm()">
                                        <i class="glyphicon glyphicon-remove"></i>
                                        <span>Clear</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <hr />

                        <div class="form-group">
                            <div class="col-md-6">
                                <button type="button" ng-click="toggleModalAddForm()" class="btn btn-sm btn-default  m-t-5" title="Add">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span></span>
                                </button>
                                <button type="button" ng-click="openModalEditForm()" class="btn btn-sm btn-default  m-l-5 m-t-5" title="Edit">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    <span></span>
                                </button>
                                <button type="button" ng-click="openModalDelete()" class="btn btn-sm btn-default  m-l-5 m-t-5" title="Delete">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span></span>
                                </button>
                            </div>
                        </div>

                        <div id="SearchResultList" style="display:block">
                            <table id="data-table" datatable="" dt-options="dtNewOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover" width="100%"></table>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 text-right">
                                <button type="button" ng-show="isApprover || isAdmin" class="btn btn-default" ng-click="openModalImportFile()">
                                    <i class="glyphicon"></i>
                                    <span>Import</span>
                                </button>
                                <button type="button" ng-show="isApprover || isAdmin" class="btn btn-default" ng-click="exportStateTreasury()">
                                    <i class="glyphicon"></i>
                                    <span>Export</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #modal-dialog - State Treasury Add New -->
    <div class="modal modal-message fade" id="modal-add">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">State Treasury: Add New</h4>
                </div>
                <form name="stateTreasuryNewForm" class="form-horizontal">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 underline m-b-5">
                                <h5>State Treasury Information</h5>
                            </div>
                            <div class="col-md-12">
                                <input type="hidden" id="NewFormID" name="ID" ng-model="stateTreasuryNew.ID">
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (stateTreasuryNewForm.Code.$invalid || submitted) && (stateTreasuryNewForm.Code.$error.minlength ||stateTreasuryNewForm.Code.$error.maxlength ||stateTreasuryNewForm.Code.$error.required) }">
                                    <label class="col-md-3 control-label text-left"> Code <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="NewFormCode" name="Code" class="form-control" ng-model="stateTreasuryNew.Code" ng-minlength="1" ng-maxlength="6" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(stateTreasuryNewForm.Code.$dirty || submitted) && stateTreasuryNewForm.Code.$error.minlength" class="help-block">Code is too short.</p>
                                        <p ng-show="(stateTreasuryNewForm.Code.$dirty || submitted) && stateTreasuryNewForm.Code.$error.maxlength" class="help-block">Code is too long.</p>
                                        <p ng-show="(stateTreasuryNewForm.Code.$dirty || submitted) && stateTreasuryNewForm.Code.$error.required" class="help-block">Code is required.</p>
                                    </div>
                                </div>
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (stateTreasuryNewForm.Name.$invalid || submitted) && (stateTreasuryNewForm.Name.$error.minlength ||stateTreasuryNewForm.Name.$error.maxlength ||stateTreasuryNewForm.Name.$error.required) }">
                                    <label class="col-md-3 control-label text-left"> Name <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="NewFormName" name="Name" class="form-control" ng-model="stateTreasuryNew.Name" ng-minlength="1" ng-maxlength="500" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(stateTreasuryNewForm.Name.$dirty || submitted) && stateTreasuryNewForm.Name.$error.minlength" class="help-block">Name is too short.</p>
                                        <p ng-show="(stateTreasuryNewForm.Name.$dirty || submitted) && stateTreasuryNewForm.Name.$error.maxlength" class="help-block">Name is too long.</p>
                                        <p ng-show="(stateTreasuryNewForm.Name.$dirty || submitted) && stateTreasuryNewForm.Name.$error.required" class="help-block">Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="underline">
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-show="isOfficer" class="btn btn-default" ng-click="submitNewForm()" ng-disabled="buttonAddDisabled">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Save</span>
                        </button>
                        <a href="javascript:;" class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                    <div id="alertErrorMessageContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                        <strong>Error!</strong>
                        <span id="alertMessage"></span>
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end #modal-dialog -->
    <!-- #modal-dialog - 1 - State Treasury Edit -->
    <div class="modal modal-message fade" id="modal-edit">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">State Treasury: Edit</h4>
                </div>
                <form name="stateTreasuryEditForm" novalidate class="form-horizontal">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 underline m-b-5">
                                <h5>State Treasury Information</h5>
                            </div>
                            <div class="col-md-12">
                                <input type="hidden" id="editFormID" name="ID" ng-model="stateTreasuryEdit.ID">
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (stateTreasuryEditForm.Code.$invalid || submitted) && (stateTreasuryEditForm.Code.$error.minlength ||stateTreasuryEditForm.Code.$error.maxlength ||stateTreasuryEditForm.Code.$error.required) }">
                                    <label class="col-md-3 control-label text-left"> Code <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormCode" name="Code" class="form-control" ng-model="stateTreasuryEdit.Code" ng-minlength="1" ng-maxlength="6" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(stateTreasuryEditForm.Code.$dirty || submitted) && stateTreasuryEditForm.Code.$error.minlength" class="help-block">Code is too short.</p>
                                        <p ng-show="(stateTreasuryEditForm.Code.$dirty || submitted) && stateTreasuryEditForm.Code.$error.maxlength" class="help-block">Code is too long.</p>
                                        <p ng-show="(stateTreasuryEditForm.Code.$dirty || submitted) && stateTreasuryEditForm.Code.$error.required" class="help-block">Code is required.</p>
                                    </div>
                                </div>
                                <div class="form-group m-t-5" ng-class="{ 'has-error' : (stateTreasuryEditForm.Name.$invalid || submitted) && (stateTreasuryEditForm.Name.$error.minlength ||stateTreasuryEditForm.Name.$error.maxlength ||stateTreasuryEditForm.Name.$error.required) }">
                                    <label class="col-md-3 control-label text-left"> Name <span class="text-danger">*</span></label>
                                    <div class="col-md-6">
                                        <input type="text" id="editFormName" name="Name" class="form-control" ng-model="stateTreasuryEdit.Name" ng-minlength="1" ng-maxlength="500" required ng-keypress="newKeyPress($event)">
                                        <p ng-show="(stateTreasuryEditForm.Name.$dirty || submitted) && stateTreasuryEditForm.Name.$error.minlength" class="help-block">Name is too short.</p>
                                        <p ng-show="(stateTreasuryEditForm.Name.$dirty || submitted) && stateTreasuryEditForm.Name.$error.maxlength" class="help-block">Name is too long.</p>
                                        <p ng-show="(stateTreasuryEditForm.Name.$dirty || submitted) && stateTreasuryEditForm.Name.$error.required" class="help-block">Name is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="underline">
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-show="isOfficer" ng-click="submitEditForm()" ng-disabled="buttonEditDisabled" class="btn btn-default">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Save</span>
                        </button>
                        <a href="javascript:;" class="btn btn-default" ng-click="closeModalEditForm()">Close</a>
                    </div>
                    <div id="alertErrorMessageEditContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                        <strong>Error!</strong>
                        <span id="alertMessageEdit"></span>
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end #modal-dialog -->
    <!-- #modal-alert - State Treasury Management Delete -->
    <div class="modal fade" id="modal-alert-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">Alert</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-heading m-b-0">
                        <h4><i class="fa fa-info-circle"></i> Confirm Deletion</h4>
                        <p>Are you sure you want to delete the selected State Treasury?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" ng-click="submitDeleteForm()" ng-disabled="buttonDeleteDisabled" ng-show="isOfficer" class="btn btn-sm btn-default">OK</a>
                    <a href="javascript:;" class="btn btn-sm btn-default" ng-click="closeModalDeleteForm()">Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end #modal-alert -->
    <!-- #modal-dialog - State Treasury Import File -->
    <div class="modal modal-message fade" id="modal-import">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="javascript:;" class="close" data-dismiss="modal">x</a>
                    <h4 class="modal-title">State Treasury: Import File</h4>
                </div>
                <form name="stateTreasuryImportFile" class="form-horizontal">
                    <div class="modal-body">
                        <div class="row">
                            <label class="col-md-3 control-label text-left">Choose files: <span class="text-danger"></span></label>
                            <div class="col-md-6">
                                <div class="input-group  input-group-sm">
                                    <input type="text" id="fileName" ng-model="fileName" class="form-control" placeholder="Import File" aria-describedby="sizing-addon1" disabled>
                                    <span class="input-group-btn">
                                        <label for="file-upload" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" style="margin-right:5px"></span> Browse
                                        </label>
                                    </span>
                                </div>
                                <input id="file-upload" class="form-control" single type="file" ng-file-model="files"
                                       method="POST" enctype="multipart/form-data" encoding="multipart/form-data"
                                       accept=".xls, .xlsx" placeholder="Import File" aria-describedby="sizing-addon1">
                                <p ng-repeat="file in files">
                                    {{file.name}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="underline">
                    </div>
                    <div class="modal-footer">
                        <button type="button"  ng-show="isOfficer" class="btn btn-default" ng-click="submitImportFile()">
                            <i class="glyphicon glyphicon-edit"></i>
                            <span>Import</span>
                        </button>
                        <a href="javascript:;" class="btn btn-default" data-dismiss="modal">Close</a>
                    </div>
                    <div id="alertErrorMessageContainer" class="alert alert-danger fade in m-b-15" style="display:none">
                        <strong>Error!</strong>
                        <span id="alertMessage"></span>
                        <span class="close" data-dismiss="alert">&times;</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end #modal-dialog -->
</div>

