<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Upload Banners</h1>
        </div>
        <div ncy-breadcrumb=""></div>
    </div>
</section>
    <!-- end: PAGE TITLE -->
    <!-- start: INLINE EDIT EXAMPLE -->
    <div class="container-fluid container-fullw">
        <div class="row">
            <div class="col-md-12">
                <!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableTitleTemplateListCtrl.js /// -->
                <div class="panel panel-white ng-scope" ng-controller="AffiliateLinkBannerManagerCtrl">
                    <div class="panel-body">
                        <circle-spinner ng-show="showSpinner"></circle-spinner>
                        <div class="modal-body">
                            <!--START IMAGE UPLOADING-->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <span class="btn btn-primary btn-o btn-file">
                                                    Chọn Banner để Upload
                                                    <!--<input type="file" nv-file-select="" uploader="uploader">-->
                                                    <input type="file" id="file" class="btn btn-primary btn-s" name="file" multiple onchange="angular.element(this).scope().getFileDetails(this)" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="user-image">
                                                    <div class="thumbnail">
                                                        <a ng-click="downloadBanner(imagePath)">{{imagePath}}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: INLINE EDIT EXAMPLE -->
</body></html>