<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Quản Lý Danh Mục Tài Liệu</h1>
        </div>
        <div ncy-breadcrumb=""></div>
    </div>
</section>
    <!-- end: PAGE TITLE -->
    <!-- start: INLINE EDIT EXAMPLE -->
    <div class="container-fluid container-fullw">
        <div class="row">
            <div class="col-md-12">
                <!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableTitleTemplateListCtrl.js /// -->
                <div class="panel panel-white ng-scope" ng-controller="DocumentCategoryManagerCtrl">
                    <div class="panel-heading">
                        <p>
                            <button class="btn btn-primary" ng-click="addDocument(0)">
                                Thêm Mới Danh Mục Tài Liệu
                            </button>
                        </p>
                    </div>
                    <div class="panel-body">
                        <circle-spinner ng-show="showSpinner"></circle-spinner>
                        <table ng-table="tableParams" class="table table-striped">
                            <tbody>
                                <tr ng-repeat="document in $data">
                                    <td data-title="&#39;#&#39;"> {{$index + 1}}</td>
                                    <td data-title="&#39;Tiêu Đề&#39;">{{document.Title}}</td>
                                    <td data-title="&#39;Nội Dung&#39;">{{document.Description}}</td>
                                    <td data-title="&#39;Loại Danh Mục&#39;">{{getCategoryTypeName(document.Type)}}</td>
                                    <td data-title="&#39;Thứ Tự&#39;">{{document.Order}}</td>
                                    <td class="center">
                                        <div class="visible-md visible-lg hidden-sm hidden-xs">
                                            <a ng-click="editDocument($event)" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Cập Nhật">
                                                <i class="fa fa-pencil" data="{{document.ID}}|{{document.Title}}|{{document.Description}}|{{document.Order}}|{{document.Type}}"></i>
                                            </a>
                                            <a ng-click="deleteDocument($event)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Xóa">
                                                <i class="fa fa-times fa fa-white" data="{{document.ID}}"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <script type="text/ng-template" id="myModalAddEditDocumentCategory.html">
                            <circle-spinner ng-show="showSpinner"></circle-spinner>
                            <form class="form-addnewlead-request" name="FormAddEditDocumentCategory" id="FormAddEditDocumentCategory" novalidate="" ng-submit="form.submit(FormAddEditDocumentCategory)">
                                <div class="modal-header">
                                    <span class="modal-title text-bold">{{documentHeading}}</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group" ng-class="{'has-error':FormAddEditDocumentCategory.Title.$dirty && FormAddEditDocumentCategory.Title.$invalid, 'has-success':FormAddEditDocumentCategory.Title.$valid}">
                                        <label for="Title">
                                            Tiêu Đề <span class="symbol required"></span>
                                        </label>
                                        <input type="text" class="form-control" id="Title" name="Title" ng-model="entity.Title" placeholder="Tiêu Đề" required="">
                                        <span class="error text-small block" ng-if="FormAddEditDocumentCategory.Title.$dirty && FormAddEditDocumentCategory.Title.$invalid">Tiêu đề là bắt buộc.</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':FormAddEditDocumentCategory.Description.$dirty && FormAddEditDocumentCategory.Description.$invalid, 'has-success':FormAddEditDocumentCategory.Description.$valid}">
                                        <label for="Description">
                                            Miêu Tả <span class="symbol required"></span>
                                        </label>
                                        <input type="text" class="form-control" id="Description" name="Description" ng-model="entity.Description" placeholder="Miêu tả" required="">
                                        <span class="error text-small block" ng-if="FormAddEditDocumentCategory.Description.$dirty && FormAddEditDocumentCategory.Description.$invalid">Miêu tả là bắt buộc.</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':FormAddEditDocumentCategory.Order.$dirty && FormAddEditDocumentCategory.Order.$invalid, 'has-success':FormAddEditDocumentCategory.Order.$valid}">
                                        <label for="Order">
                                            Thứ Tự Hiển Thị <span class="symbol required"></span>
                                        </label>
                                        <input type="text" class="form-control" id="Order" name="Order" ng-model="entity.Order" placeholder="Thứ Tự Hiển Thị" required="" ng-pattern="/^[0-9]*$/">
                                        <span class="error text-small block" ng-if="FormAddEditDocumentCategory.Order.$dirty && FormAddEditDocumentCategory.Order.$invalid">Thứ tự hiển thị là bắt buộc và phải là số.</span>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':FormAddEditDocumentCategory.Type.$dirty && FormAddEditDocumentCategory.Type.$invalid, 'has-success':FormAddEditDocumentCategory.Type.$valid}">
                                        <label for="Type">
                                            Loại Danh Mục Tài Liệu <span class="symbol required"></span>
                                        </label>
                                        <select id="Type" name="Type" ng-model="entity.Type" class="form-control black" ng-options="option.ID as option.Title for option in documentCategories" required="">
                                            <option value="" disabled="">Chọn Loại Danh Mục Tài Liệu</option>
                                        </select>
                                        <input type="hidden" name="ID" ng-value="entity.ID" />
                                        <span class="error text-small block" ng-if="FormAddEditDocumentCategory.Type.$dirty && FormAddEditDocumentCategory.Type.$invalid">Danh Mục là bắt buộc.</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Hoàn Tất
                                    </button>
                                </div>
                            </form>
                        </script>
                        <script type="text/ng-template" id="myModalViewDetailsDocumentCategory.html">
                            <circle-spinner ng-show="showSpinner"></circle-spinner>
                            <div class="modal-header">
                                <span class="modal-title text-bold">{{documentHeading}}</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="Title">
                                        Tiêu Đề
                                    </label>
                                    <input type="text" class="form-control" id="Title" name="Title" ng-model="entity.Title" placeholder="Tiêu Đề" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="Content">
                                        Miêu tả
                                    </label>
                                    <input type="text" class="form-control" id="Description" name="Description" ng-model="entity.Description" placeholder="Miêu tả" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="Content">
                                        Thứ Tự Hiển Thị
                                    </label>
                                    <input type="text" class="form-control" id="Order" name="Order" ng-model="entity.Order" placeholder="Thứ Tự Hiển Thị" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="DocumentsID">
                                        Loại Danh Mục Tài Liệu
                                    </label>
                                    <select id="ID" name="ID" ng-model="entity.ID" class="form-control black" ng-options="option.ID as option.Title for option in documentCategories" required="" ng-change="showHideUploaderBox()">
                                        <option value="" disabled="">Chọn Loại Danh Mục Tài Liệu</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary btn-o" ng-click="cancel()">Đóng</button>
                            </div>
                        </script>
                        <script type="text/ng-template" id="myModalDeleteDocumentCategory.html">
                            <circle-spinner ng-show="showSpinner"></circle-spinner>
                            <div class="modal-header">
                                <span class="modal-title text-bold">Xóa Danh Mục Tài Liệu</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" class="form-control" id="documentID" name="documentID" value="">
                                    <p>Bạn muốn xóa danh mục tài liệu này không?</p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" ng-click="ok()">Đồng ý! Tôi muốn xóa</button>
                                <button class="btn btn-primary btn-o" ng-click="cancel()">Không!. Tôi muốn giữ lại</button>
                            </div>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: INLINE EDIT EXAMPLE -->
</body></html>