<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
<section id="page-title">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="mainTitle">Quản Lý Đơn Hàng</h1>
        </div>
        <div ncy-breadcrumb=""></div>
    </div>
</section>
    <!-- end: PAGE TITLE -->
    <!-- start: INLINE EDIT EXAMPLE -->
    <div class="container-fluid container-fullw">
        <div class="row">
            <div class="col-md-12">
                <!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
                <div ng-controller="ngTableOrderListCtrl">
                    <table ng-table="tableParams" class="table table-striped">
                        <tbody>
                            <tr ng-repeat="order in $data">
                                <td data-title="&#39;Mã ĐH&#39;">#{{order.ContractNo}}</td>
                                <td data-title="&#39;Ngày&#39;">{{order.CreatedDate}}</td>
                                <td data-title="&#39;Khách Hàng&#39;"><a>{{order.CustomerName}}</a></td>
                                <td data-title="&#39;Thanh Toán&#39;"><span ng-class="[getClassForPayMentStatus(order.PaymentStatus), 'b']"> {{order.PaymentStatusName}}</span></td>
                                <td data-title="&#39;Loại&#39;">{{order.AccountTypeName}}</td>
                                <td data-title="&#39;Tổng Tiền&#39;">{{order.CustomerAmount}}</td>
                                <td data-title="&#39;Hoa Hồng&#39;">{{order.AffiliateAmount}}</td>
                                <td data-title="&#39;Đại Sứ&#39;"><a>{{order.AffiliateName}}</a></td>
                                <td data-title="&#39;Tình Trạng&#39;"><span ng-class="[getClassForAffiliateStatus(order.AffiliateStatus), 'b']"> {{order.AffiliateStatusName}}</span></td>
                                <td class="center">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">
                                        <a ng-click="editOrder($event)" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Cập Nhật">
                                            <i class="fa fa-pencil" data="{{order.ContractNo}}"></i>
                                        </a>
                                        <a ng-click="deleteOrder($event)" class="btn btn-transparent btn-xs tooltips" tooltip-placement="top" uib-tooltip="Xóa">
                                            <i class="fa fa-times fa fa-white" data="{{order.ContractNo}}"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <script type="text/ng-template" id="myModalEditOrder.html">
                        <circle-spinner ng-show="showSpinner"></circle-spinner>
                        <form class="form-addnewlead-request" name="FormEditOrder" id="FormEditOrder" novalidate="" ng-submit="form.submit(FormEditOrder)">
                            <div class="modal-header">
                                <span class="modal-title text-bold">Cập Nhật Đơn Hàng</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="CustomerName">
                                        Tên Khách Hàng
                                    </label>
                                    <input type="text" class="form-control" id="CustomerName" name="CustomerName" ng-model="order.CustomerName" placeholder="order.CustomerName" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="PaymentStatus">
                                        Thanh Toán
                                    </label>
                                    <input type="text" class="form-control" id="PaymentStatus" name="PaymentStatus" ng-model="order.PaymentStatusName" placeholder="order.PaymentStatusName" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="AccountType">
                                        Loại Tài Khoản
                                    </label>
                                    <input type="text" class="form-control" id="AccountType" name="AccountType" ng-model="order.AccountTypeName" placeholder="order.AccountTypeName" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="CustomerAmount">
                                        Tổng Tiền
                                    </label>
                                    <input type="text" class="form-control" id="CustomerAmount" name="CustomerAmount" ng-model="order.CustomerAmount" placeholder="Tổng Tiền" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="AffiliateAmount">
                                        Hoa Hồng
                                    </label>
                                    <input type="text" class="form-control" id="AffiliateAmount" name="AffiliateAmount" ng-model="order.AffiliateAmount" placeholder="Hoa Hồng" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="AffiliateName">
                                        Đại Sứ
                                    </label>
                                    <input type="text" class="form-control" id="AffiliateName" name="AffiliateName" ng-model="order.AffiliateName" placeholder="Đại Sứ" readonly>
                                </div>
                                <div class="form-group" ng-class="{'has-error':FormEditOrder.AffiliateStatus.$dirty && FormEditOrder.AffiliateStatus.$invalid, 'has-success':FormEditOrder.AffiliateStatus.$valid}">
                                    <label for="AccountType">
                                        Tình Trạng <span class="symbol required"></span>
                                    </label>
                                    <select id="AccountType" class="form-control black" name="AffiliateStatus" ng-model="order.AffiliateStatus" required="" ng-options="affiliate.AffiliateStatus as affiliate.AffiliateStatusName for affiliate in AffiliateStatusList">
                                        <option value="" disabled="">Chọn Tình Trạng</option>
                                    </select>
                                    <span class="error text-small block" ng-if="FormEditOrder.AffiliateStatus.$dirty && FormEditOrder.AffiliateStatus.$invalid">Tình Trạng là bắt buộc.</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-block">
                                    Hoàn Tất
                                </button>
                            </div>
                        </form>
                    </script>
                    <script type="text/ng-template" id="myModalViewDetailsOrder.html">
                        <circle-spinner ng-show="showSpinner"></circle-spinner>
                        <form class="form-addnewlead-request" name="FormEditOrder" id="FormEditOrder" novalidate="" ng-submit="form.submit(FormEditOrder)">
                            <div class="modal-header">
                                <span class="modal-title text-bold">Xem Chi Tiết Đơn Hàng</span>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="CustomerName">
                                        Tên Khách Hàng
                                    </label>
                                    <input type="text" class="form-control" id="CustomerName" name="CustomerName" ng-model="order.CustomerName" placeholder="Tên Khách Hàng" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="PaymentStatus">
                                        Thanh Toán
                                    </label>
                                    <select id="PaymentStatus" class="form-control black" name="PaymentStatus" ng-model="order.PaymentStatus">
                                        <option value="" disabled="">Chọn Loại Thanh Toán</option>
                                        <option value="1">Chưa Thanh Toán</option>
                                        <option value="2">Đã Thanh Toán</option>
                                        <option value="3">Hoàn Tiền</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="AccountType">
                                        Loại Tài Khoản
                                    </label>
                                    <select id="AccountType" class="form-control black" name="AccountType" ng-model="order.AccountType">
                                        <option value="" disabled="">Chọn Loại Tài Khoản</option>
                                        <option value="1">Cơ Bản</option>
                                        <option value="2">Nâng Cao</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="CustomerAmount">
                                        Tổng Tiền
                                    </label>
                                    <input type="text" class="form-control" id="CustomerAmount" name="CustomerAmount" ng-model="order.CustomerAmount" placeholder="Tổng Tiền" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="AffiliateAmount">
                                        Hoa Hồng
                                    </label>
                                    <input type="text" class="form-control" id="AffiliateAmount" name="AffiliateAmount" ng-model="order.AffiliateAmount" placeholder="Hoa Hồng" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="AffiliateName">
                                        Đại Sứ
                                    </label>
                                    <input type="text" class="form-control" id="AffiliateName" name="AffiliateName" ng-model="order.AffiliateName" placeholder="Đại Sứ" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="AccountType">
                                        Tình Trạng
                                    </label>
                                    <select id="AccountType" class="form-control black" name="AffiliateStatus" ng-model="order.AffiliateStatus" required="">
                                        <option value="" disabled="">Chọn Tình Trạng</option>
                                        <option value="1">Đang Phê Duyệt</option>
                                        <option value="2">Đã Duyệt</option>
                                        <option value="3">Hủy</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </script>
                    <script type="text/ng-template" id="myModalDeleteDetailsOrder.html">
                        <circle-spinner ng-show="showSpinner"></circle-spinner>
                        <div class="modal-header">
                            <span class="modal-title text-bold">Xóa Đơn Hàng</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="orderID" name="orderID" value="">
                                <p>Bạn muốn xóa đơn hàng này không?</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">Đồng ý! Tôi muốn xóa</button>
                            <button class="btn btn-primary btn-o" ng-click="cancel()">Không!. Tôi muốn giữ lại</button>
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!-- end: INLINE EDIT EXAMPLE -->
</body></html>