<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>
<body>
    <div ng-controller="MasterWithDrawRequestCtrl">
        <circle-spinner ng-show="showSpinner"></circle-spinner>
        <section id="page-title">
            <div class="row">
                <div class="col-sm-8">
                    <h1 class="mainTitle">Yêu Cầu Rút Tiền</h1>
                </div>
                <div ncy-breadcrumb=""></div>
            </div>
        </section>
        <!-- end: PAGE TITLE -->
        <!-- start: INLINE EDIT EXAMPLE -->
        <div class="container-fluid container-fullw">
            <div class="row">
                <div class="col-md-12">
                    <!-- /// controller:  'ngTableCtrl6' -  localtion: assets/js/controllers/ngTableCtrl.js /// -->
                    <div ng-controller="WithDrawRequestCtrl">
                        <circle-spinner ng-show="showSpinner"></circle-spinner>
                        <div class="panel panel-white">
                            <div class="panel-body">
                                <form class="ng-pristine ng-valid" name="FormCustomerSearching" id="FormCustomerSearching" novalidate="" ng-submit="form.submit(FormCustomerSearching)">
                                    <div class="input-group well">
                                        <input type="text" class="form-control" id="KeyWord" name="KeyWord" ng-model="customer.KeyWord" placeholder="Họ Tên Đầy Đủ hoặc Tên Đăng Nhập">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">
                                                <i class="fa fa-search"></i> Tìm Kiếm
                                            </button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="panel panel-white no-radius">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-md-12">
                                        <div class="form-group">
                                            <label for="Affiliates">
                                                Tên Đăng Nhập
                                            </label>
                                            <select class="form-control black" id="Affiliates" name="Affiliates" ng-model="customer.UserName" ng-options="affiliate.UserName as affiliate.FullName for affiliate in Affiliates">
                                                <option value="">Tất Cả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-12">
                                        <div class="form-group">
                                            <label for="AffiliateStatus">
                                                Tình Trạng
                                            </label>
                                            <select class="form-control black" id="AffiliateStatus" name="AffiliateStatus" ng-model="customer.AffiliateStatus" ng-options="affiliate.AffiliateStatus as affiliate.AffiliateStatusName for affiliate in AffiliateStatusList">
                                                <option value="">Tất Cả</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-12">
                                        <div class="form-group margin-top-20">
                                            <label for="">
                                            </label>
                                            <a class="btn btn-wide btn-primary" ng-click="doFilterOrder()"><i class="ti-filter"></i> Áp Dụng Bộ Lọc</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-white no-radius">
                            <div class="panel-body">
                                <circle-spinner ng-show="showSpinner"></circle-spinner>
                                <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td width="10%">
                                                <span class="text-bold">Tổng Tiền Đã Duyệt</span>: {{totalApprovalAmount | number}} Đ
                                            </td>
                                            <td width="10%">
                                                <span class="text-bold">Tổng Tiền Đang Chờ Duyệt</span>: {{totalWaitingForApprovalAmount | number}} Đ
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table ng-table="tableParams" class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="entity in $data">
                                            <td data-title="&#39;#&#39;"> {{entity.CreatedDate}}</td>
                                            <td data-title="&#39;Tên Đăng Nhập&#39;"><a>{{entity.UserName}}</a></td>
                                            <td data-title="&#39;Tên&#39;">{{entity.FullName}}</td>
                                            <td data-title="&#39;Tên Ngân Hàng&#39;">{{entity.BeneBankName}}</td>
                                            <td data-title="&#39;Số Tài Khoản&#39;">{{entity.BeneAccountNo}}</td>
                                            <td data-title="&#39;Ghi Chú&#39;">{{entity.Remarks}}</td>
                                            <td data-title="&#39;Số Tiền&#39;">{{entity.Amount}}</td>
                                            <td data-title="&#39;Tình Trạng&#39;"><span ng-class="[getClass(entity.Status), 'b']">{{entity.StatusName}}</span></td>
                                            <td class="left">
                                                <div class="visible-md visible-lg hidden-sm hidden-xs">
                                                    <a ng-click="requestWithDrawall($event)" class="btn btn-transparent btn-xs" tooltip-placement="top" uib-tooltip="Phê Duyệt" data="{{entity.ContractNo}}|{{entity.UserName}}|{{entity.FullName}}|{{entity.Status}}">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <script type="text/ng-template" id="myModalRequestWithDrawal.html">
                            <circle-spinner ng-show="showSpinner"></circle-spinner>
                            <form class="form-addnewlead-request" name="FormEditOrder" id="FormEditOrder" novalidate="" ng-submit="form.submit(FormEditOrder)">
                                <div class="modal-header">
                                    <span class="modal-title text-bold">Phê Duyệt Rút Tiền</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="AffiliateName">
                                            Họ Tên Đại Sứ
                                        </label>
                                        <input type="text" class="form-control" id="AffiliateName" name="AffiliateName" ng-model="member.AffiliateName" placeholder="Tên Khách Hàng" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="AffiliateAccount">
                                            Tên Đăng Nhập Đại Sứ
                                        </label>
                                        <input type="text" class="form-control" id="AffiliateAccount" name="AffiliateAccount" ng-model="member.AffiliateAccount" placeholder="Tên Đăng Nhập" readonly>
                                    </div>
                                    <div class="form-group hidden">
                                        <label for="Notes">
                                            Ghi chú từ Admin
                                        </label>
                                        <input type="text" class="form-control" id="Notes" name="Notes" ng-model="member.Notes" placeholder="Ghi chú từ Admin">
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':FormEditOrder.AffiliateStatus.$dirty && FormEditOrder.AffiliateStatus.$invalid, 'has-success':FormEditOrder.AffiliateStatus.$valid}">
                                        <label for="AffiliateStatus">
                                            Phê Duyệt <span class="symbol required"></span>
                                        </label>
                                        <select class="form-control black" id="AffiliateStatus" name="AffiliateStatus" ng-model="member.AffiliateStatus" required="" ng-options="affiliate.AffiliateStatus as affiliate.AffiliateStatusName for affiliate in AffiliateStatusList">
                                            <option value="" disabled="">Chọn Tình Trạng Phê Duyệt</option>
                                        </select>
                                        <span class="error text-small block" ng-if="FormEditOrder.AffiliateStatus.$dirty && FormEditOrder.AffiliateStatus.$invalid">Phê Duyệt là bắt buộc.</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Hoàn Tất
                                    </button>
                                </div>
                            </form>
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- end: INLINE EDIT EXAMPLE -->
    </div>
</body>
</html>